---

_You are currently looking at **version 1.1** of this notebook. To download notebooks and datafiles, as well as get help on Jupyter notebooks in the Coursera platform, visit the [Jupyter Notebook FAQ](https://www.coursera.org/learn/python-data-analysis/resources/0dhYG) course resource._

---

In [1]:
import pandas as pd
import numpy as np
from scipy.stats import ttest_ind

# Assignment 4 - Hypothesis Testing
This assignment requires more individual learning than previous assignments - you are encouraged to check out the [pandas documentation](http://pandas.pydata.org/pandas-docs/stable/) to find functions or methods you might not have used yet, or ask questions on [Stack Overflow](http://stackoverflow.com/) and tag them as pandas and python related. And of course, the discussion forums are open for interaction with your peers and the course staff.

Definitions:
* A _quarter_ is a specific three month period, Q1 is January through March, Q2 is April through June, Q3 is July through September, Q4 is October through December.
* A _recession_ is defined as starting with two consecutive quarters of GDP decline, and ending with two consecutive quarters of GDP growth.
* A _recession bottom_ is the quarter within a recession which had the lowest GDP.
* A _university town_ is a city which has a high percentage of university students compared to the total population of the city.

**Hypothesis**: University towns have their mean housing prices less effected by recessions. Run a t-test to compare the ratio of the mean price of houses in university towns the quarter before the recession starts compared to the recession bottom. (`price_ratio=quarter_before_recession/recession_bottom`)

The following data files are available for this assignment:
* From the [Zillow research data site](http://www.zillow.com/research/data/) there is housing data for the United States. In particular the datafile for [all homes at a city level](http://files.zillowstatic.com/research/public/City/City_Zhvi_AllHomes.csv), ```City_Zhvi_AllHomes.csv```, has median home sale prices at a fine grained level.
* From the Wikipedia page on college towns is a list of [university towns in the United States](https://en.wikipedia.org/wiki/List_of_college_towns#College_towns_in_the_United_States) which has been copy and pasted into the file ```university_towns.txt```.
* From Bureau of Economic Analysis, US Department of Commerce, the [GDP over time](http://www.bea.gov/national/index.htm#gdp) of the United States in current dollars (use the chained value in 2009 dollars), in quarterly intervals, in the file ```gdplev.xls```. For this assignment, only look at GDP data from the first quarter of 2000 onward.

Each function in this assignment below is worth 10%, with the exception of ```run_ttest()```, which is worth 50%.

In [2]:
# Use this dictionary to map state names to two letter acronyms
states = {'OH': 'Ohio', 'KY': 'Kentucky', 'AS': 'American Samoa', 'NV': 'Nevada', 'WY': 'Wyoming', 'NA': 'National', 'AL': 'Alabama', 'MD': 'Maryland', 'AK': 'Alaska', 'UT': 'Utah', 'OR': 'Oregon', 'MT': 'Montana', 'IL': 'Illinois', 'TN': 'Tennessee', 'DC': 'District of Columbia', 'VT': 'Vermont', 'ID': 'Idaho', 'AR': 'Arkansas', 'ME': 'Maine', 'WA': 'Washington', 'HI': 'Hawaii', 'WI': 'Wisconsin', 'MI': 'Michigan', 'IN': 'Indiana', 'NJ': 'New Jersey', 'AZ': 'Arizona', 'GU': 'Guam', 'MS': 'Mississippi', 'PR': 'Puerto Rico', 'NC': 'North Carolina', 'TX': 'Texas', 'SD': 'South Dakota', 'MP': 'Northern Mariana Islands', 'IA': 'Iowa', 'MO': 'Missouri', 'CT': 'Connecticut', 'WV': 'West Virginia', 'SC': 'South Carolina', 'LA': 'Louisiana', 'KS': 'Kansas', 'NY': 'New York', 'NE': 'Nebraska', 'OK': 'Oklahoma', 'FL': 'Florida', 'CA': 'California', 'CO': 'Colorado', 'PA': 'Pennsylvania', 'DE': 'Delaware', 'NM': 'New Mexico', 'RI': 'Rhode Island', 'MN': 'Minnesota', 'VI': 'Virgin Islands', 'NH': 'New Hampshire', 'MA': 'Massachusetts', 'GA': 'Georgia', 'ND': 'North Dakota', 'VA': 'Virginia'}

In [24]:
GDP = pd.read_excel(io = 'gdplev.xls', header=5)

In [25]:
GDP = GDP.iloc[2:,3:-1]
GDP.head()

,Unnamed: 3,GDP in billions of current dollars.1,GDP in billions of chained 2009 dollars.1
1929.0,1947q1,243.1,1934.5
1930.0,1947q2,246.3,1932.3
1931.0,1947q3,250.1,1930.3
1932.0,1947q4,260.3,1960.7
1933.0,1948q1,266.2,1989.5

In [26]:
GDP.rename(columns={"Unnamed: 3":"Quarter"}, inplace=True)

In [27]:
GDP.reset_index(inplace=True)

In [28]:
GDP.drop("index", axis = 1, inplace=True)

In [29]:
GDP[GDP['Quarter'] == "2000q1"]

,Quarter,GDP in billions of current dollars.1,GDP in billions of chained 2009 dollars.1
212,2000q1,10031.0,12359.1

In [30]:
GDP = GDP.drop(GDP.index[0:212])

In [31]:
homes = pd.read_csv('City_Zhvi_AllHomes.csv')
ut = pd.read_csv('university_towns.txt', sep="/br", header = None)

/opt/conda/lib/python3.6/site-packages/ipykernel/__main__.py:2: ParserWarning: Falling back to the 'python' engine because the 'c' engine does not support regex separators (separators > 1 char and different from '\s+' are interpreted as regex); you can avoid this warning by specifying engine='python'.
  from ipykernel import kernelapp as app

In [32]:
ut.columns = ['Original']

In [33]:
ut["RegionName"] = ut["Original"].apply(
    lambda x: x.partition('(')[0].rstrip(" ") if "[edit]" not in x else np.NaN)

In [34]:
ut["State"] = ut["Original"].apply(
    lambda x: x.partition('[')[0].strip(" ") if "[edit]" in x else np.NaN).fillna(method = "ffill")

In [14]:
ut = ut.dropna()

In [15]:
ut = ut[['State','RegionName']]

In [16]:
ut.head()

     State    RegionName
1  Alabama        Auburn
2  Alabama      Florence
3  Alabama  Jacksonville
4  Alabama    Livingston
5  Alabama    Montevallo

In [17]:
def get_list_of_university_towns():
    ut = pd.read_csv('university_towns.txt', sep="/br", header = None)
    ut.columns = ['Original']
    ut["RegionName"] = ut["Original"].apply(
        lambda x: x.partition('(')[0].rstrip(" ") if "[edit]" not in x else np.NaN)
    ut["State"] = ut["Original"].apply(
        lambda x: x.partition('[')[0].strip(" ") if "[edit]" in x else np.NaN).fillna(method = "ffill")
    ut = ut.dropna()
    ut = ut[['State','RegionName']]
    ut.reset_index(inplace=True, drop = True)
    return ut

In [38]:
GDP.reset_index(inplace = True, drop=True)

In [39]:
GDP

,Quarter,GDP in billions of current dollars.1,GDP in billions of chained 2009 dollars.1
0,2000q1,10031.0,12359.1
1,2000q2,10278.3,12592.5
2,2000q3,10357.4,12607.7
3,2000q4,10472.3,12679.3
4,2001q1,10508.1,12643.3
5,2001q2,10638.4,12710.3
6,2001q3,10639.5,12670.1
7,2001q4,10701.3,12705.3
8,2002q1,10834.4,12822.3
9,2002q2,10934.8,12893.0
10,2002q3,11037.1,12955.8
11,2002q4,11103.8,12964.0
12,2003q1,11230.1,13031.2
13,2003q2,11370.7,13152.1
14,2003q3,11625.1,13372.4
15,2003q4,11816.8,13528.7
16,2004q1,11988.4,13606.5
17,2004q2,12181.4,13706.2
18,2004q3,12367.7,13830.8
19,2004q4,12562.2,13950.4
20,2005q1,12813.7,14099.1
21,2005q2,12974.1,14172.7
22,2005q3,13205.4,14291.8
23,2005q4,13381.6,14373.4
24,2006q1,13648.9,14546.1
25,2006q2,13799.8,14589.6
26,2006q3,13908.5,14602.6
27,2006q4,14066.4,14716.9
28,2007q1,14233.2,14726.0
29,2007q2,14422.3,14838.7
...,...,...,...
36,2009q1,14383.9,14375.0
37,2009q2,14340.4,14355.6
38,2009q3,14384.1,14402.5
39,2009q4,14566.5,14541.9
40,2010q1,14681.1,14604.8
41,2010q2,14888.6,14745.9
42,2010q3,15057.7,14845.5
43,2010q4,15230.2,14939.0
44,2011q1,15238.4,14881.3
45,2011q2,15460.9,14989.6
46,2011q3,15587.1,15021.1
47,2011q4,15785.3,15190.3
48,2012q1,15973.9,15291.0
49,2012q2,16121.9,15362.4
50,2012q3,16227.9,15380.8
51,2012q4,16297.3,15384.3
52,2013q1,16475.4,15491.9
53,2013q2,16541.4,15521.6
54,2013q3,16749.3,15641.3
55,2013q4,16999.9,15793.9
56,2014q1,17025.2,15747.0
57,2014q2,17285.6,15900.8
58,2014q3,17569.4,16094.5
59,2014q4,17692.2,16186.7
60,2015q1,17783.6,16269.0
61,2015q2,17998.3,16374.2
62,2015q3,18141.9,16454.9
63,2015q4,18222.8,16490.7
64,2016q1,18281.6,16525.0
65,2016q2,18450.1,16583.1

In [40]:
GDP2 = GDP.shift(-1)
GDP2

,Quarter,GDP in billions of current dollars.1,GDP in billions of chained 2009 dollars.1
0,2000q2,10278.3,12592.5
1,2000q3,10357.4,12607.7
2,2000q4,10472.3,12679.3
3,2001q1,10508.1,12643.3
4,2001q2,10638.4,12710.3
5,2001q3,10639.5,12670.1
6,2001q4,10701.3,12705.3
7,2002q1,10834.4,12822.3
8,2002q2,10934.8,12893.0
9,2002q3,11037.1,12955.8
10,2002q4,11103.8,12964.0
11,2003q1,11230.1,13031.2
12,2003q2,11370.7,13152.1
13,2003q3,11625.1,13372.4
14,2003q4,11816.8,13528.7
15,2004q1,11988.4,13606.5
16,2004q2,12181.4,13706.2
17,2004q3,12367.7,13830.8
18,2004q4,12562.2,13950.4
19,2005q1,12813.7,14099.1
20,2005q2,12974.1,14172.7
21,2005q3,13205.4,14291.8
22,2005q4,13381.6,14373.4
23,2006q1,13648.9,14546.1
24,2006q2,13799.8,14589.6
25,2006q3,13908.5,14602.6
26,2006q4,14066.4,14716.9
27,2007q1,14233.2,14726.0
28,2007q2,14422.3,14838.7
29,2007q3,14569.7,14938.5
...,...,...,...
36,2009q2,14340.4,14355.6
37,2009q3,14384.1,14402.5
38,2009q4,14566.5,14541.9
39,2010q1,14681.1,14604.8
40,2010q2,14888.6,14745.9
41,2010q3,15057.7,14845.5
42,2010q4,15230.2,14939.0
43,2011q1,15238.4,14881.3
44,2011q2,15460.9,14989.6
45,2011q3,15587.1,15021.1
46,2011q4,15785.3,15190.3
47,2012q1,15973.9,15291.0
48,2012q2,16121.9,15362.4
49,2012q3,16227.9,15380.8
50,2012q4,16297.3,15384.3
51,2013q1,16475.4,15491.9
52,2013q2,16541.4,15521.6
53,2013q3,16749.3,15641.3
54,2013q4,16999.9,15793.9
55,2014q1,17025.2,15747.0
56,2014q2,17285.6,15900.8
57,2014q3,17569.4,16094.5
58,2014q4,17692.2,16186.7
59,2015q1,17783.6,16269.0
60,2015q2,17998.3,16374.2
61,2015q3,18141.9,16454.9
62,2015q4,18222.8,16490.7
63,2016q1,18281.6,16525.0
64,2016q2,18450.1,16583.1
65,NaN,NaN,NaN

In [42]:
GDP3 = GDP2["GDP in billions of current dollars.1"]-GDP["GDP in billions of current dollars.1"]
i = list(GDP3[GDP3<0].index)
i

[31, 34, 35, 36]

In [44]:
GDP3[30:40]

30    115.6
31    -16.9
32    144.6
33     30.0
34   -293.1
35   -166.0
36    -43.5
37     43.7
38    182.4
39    114.6
Name: GDP in billions of current dollars.1, dtype: float64

In [68]:
x = len(i)

In [95]:
def get_recession_start():
    GDP = pd.read_excel(io = 'gdplev.xls', header=5).iloc[2:,3:-1]
    GDP.rename(columns={"Unnamed: 3":"Quarter"}, inplace=True)
    GDP.reset_index(inplace=True,drop = True)
    GDP = GDP.drop(GDP.index[0:GDP[GDP['Quarter'] == "2000q1"].index.values])
    GDP.reset_index(inplace=True,drop = True)
    GDP2 = GDP.shift(-1)
    GDP3 = GDP2["GDP in billions of current dollars.1"]-GDP["GDP in billions of current dollars.1"]
    i = list(GDP3[GDP3<0].index)
    rece = []
    recelist = []
    for y in list(range(0,len(i))):
        if (i[y]-i[y-1] == 1) & (i[y-1] not in rece):
            rece.append(i[y-1])
    rece.append(i[y])
    for z in rece:
        recelist.append(GDP.loc[z][0])
    return recelist[0]

In [96]:
get_recession_start()

/opt/conda/lib/python3.6/site-packages/pandas/core/common.py:403: VisibleDeprecationWarning: converting an array with ndim > 0 to an index will result in an error in the future
  labels = list(labels)

'2008q3'

In [107]:
rece = []
recelist = []
for y in list(range(0,len(i))):
    if (i[y]-i[y-1] == 1) & (i[y-1] not in rece):
        rece.append(i[y-1])
rece.append(i[y])
rece.append(i[y]+2)

In [108]:
rece

[34, 35, 36, 38]

In [109]:
for z in rece:
    recelist.append(GDP.loc[z][0])

In [110]:
recelist

['2008q3', '2008q4', '2009q1', '2009q3']

In [119]:
def get_recession_end():
    GDP = pd.read_excel(io = 'gdplev.xls', header=5).iloc[2:,3:-1]
    GDP.rename(columns={"Unnamed: 3":"Quarter"}, inplace=True)
    GDP.reset_index(inplace=True,drop = True)
    GDP = GDP.drop(GDP.index[0:GDP[GDP['Quarter'] == "2000q1"].index.values])
    GDP.reset_index(inplace=True,drop = True)
    GDP2 = GDP.shift(-1)
    GDP3 = GDP2["GDP in billions of current dollars.1"]-GDP["GDP in billions of current dollars.1"]
    i = list(GDP3[GDP3<0].index)
    rece = []
    recelist = []
    for y in list(range(0,len(i))):
        if (i[y]-i[y-1] == 1) & (i[y-1] not in rece):
            rece.append(i[y-1])
    rece.append(i[y])
    rece.append(i[y]+3)
    for z in rece:
        recelist.append(GDP.loc[z][0])
    return recelist[-1]

In [121]:
get_recession_end()

/opt/conda/lib/python3.6/site-packages/pandas/core/common.py:403: VisibleDeprecationWarning: converting an array with ndim > 0 to an index will result in an error in the future
  labels = list(labels)

'2009q4'

In [122]:
def get_recession_bottom():
    GDP = pd.read_excel(io = 'gdplev.xls', header=5).iloc[2:,3:-1]
    GDP.rename(columns={"Unnamed: 3":"Quarter"}, inplace=True)
    GDP.reset_index(inplace=True,drop = True)
    GDP = GDP.drop(GDP.index[0:GDP[GDP['Quarter'] == "2000q1"].index.values])
    GDP.reset_index(inplace=True,drop = True)
    GDP2 = GDP.shift(-1)
    GDP3 = GDP2["GDP in billions of current dollars.1"]-GDP["GDP in billions of current dollars.1"]
    i = list(GDP3[GDP3<0].index)
    rece = []
    recelist = []
    for y in list(range(0,len(i))):
        if (i[y]-i[y-1] == 1) & (i[y-1] not in rece):
            rece.append(i[y-1])
    rece.append(i[y])
    rece.append(i[y]+2)
    return GDP.loc[i[y]+1][0]

In [123]:
get_recession_bottom()

/opt/conda/lib/python3.6/site-packages/pandas/core/common.py:403: VisibleDeprecationWarning: converting an array with ndim > 0 to an index will result in an error in the future
  labels = list(labels)

'2009q2'

In [217]:
homes = pd.read_csv('City_Zhvi_AllHomes.csv')

In [146]:
homes.head()

,RegionID,RegionName,State,Metro,CountyName,SizeRank,1996-04,1996-05,1996-06,1996-07,...,2015-11,2015-12,2016-01,2016-02,2016-03,2016-04,2016-05,2016-06,2016-07,2016-08
0,6181,New York,NY,New York,Queens,1,NaN,NaN,NaN,NaN,...,573600,576200,578400,582200,588000,592200,592500,590200,588000,586400
1,12447,Los Angeles,CA,Los Angeles-Long Beach-Anaheim,Los Angeles,2,155000.0,154600.0,154400.0,154200.0,...,558200,560800,562800,565600,569700,574000,577800,580600,583000,585100
2,17426,Chicago,IL,Chicago,Cook,3,109700.0,109400.0,109300.0,109300.0,...,207800,206900,206200,205800,206200,207300,208200,209100,211000,213000
3,13271,Philadelphia,PA,Philadelphia,Philadelphia,4,50000.0,49900.0,49600.0,49400.0,...,122300,121600,121800,123300,125200,126400,127000,127400,128300,129100
4,40326,Phoenix,AZ,Phoenix,Maricopa,5,87200.0,87700.0,88200.0,88400.0,...,183800,185300,186600,188000,189100,190200,191300,192800,194500,195900

In [218]:
homes.set_index(['State','RegionName'], inplace = True)
homes = homes.loc[:,"2000-01":]
homes.head()

,,2000-01,2000-02,2000-03,2000-04,2000-05,2000-06,2000-07,2000-08,2000-09,2000-10,...,2015-11,2015-12,2016-01,2016-02,2016-03,2016-04,2016-05,2016-06,2016-07,2016-08
State,RegionName,,,,,,,,,,,,,,,,,,,,,
NY,New York,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,573600,576200,578400,582200,588000,592200,592500,590200,588000,586400
CA,Los Angeles,204400.0,207000.0,209800.0,212300.0,214500.0,216600.0,219000.0,221100.0,222800.0,224300.0,...,558200,560800,562800,565600,569700,574000,577800,580600,583000,585100
IL,Chicago,136800.0,138300.0,140100.0,141900.0,143700.0,145300.0,146700.0,147900.0,149000.0,150400.0,...,207800,206900,206200,205800,206200,207300,208200,209100,211000,213000
PA,Philadelphia,52700.0,53100.0,53200.0,53400.0,53700.0,53800.0,53800.0,54100.0,54500.0,54700.0,...,122300,121600,121800,123300,125200,126400,127000,127400,128300,129100
AZ,Phoenix,111000.0,111700.0,112800.0,113700.0,114300.0,115100.0,115600.0,115900.0,116500.0,117200.0,...,183800,185300,186600,188000,189100,190200,191300,192800,194500,195900

In [219]:
c1 = homes.columns.values.tolist()
c1

['2000-01',
 '2000-02',
 '2000-03',
 '2000-04',
 '2000-05',
 '2000-06',
 '2000-07',
 '2000-08',
 '2000-09',
 '2000-10',
 '2000-11',
 '2000-12',
 '2001-01',
 '2001-02',
 '2001-03',
 '2001-04',
 '2001-05',
 '2001-06',
 '2001-07',
 '2001-08',
 '2001-09',
 '2001-10',
 '2001-11',
 '2001-12',
 '2002-01',
 '2002-02',
 '2002-03',
 '2002-04',
 '2002-05',
 '2002-06',
 '2002-07',
 '2002-08',
 '2002-09',
 '2002-10',
 '2002-11',
 '2002-12',
 '2003-01',
 '2003-02',
 '2003-03',
 '2003-04',
 '2003-05',
 '2003-06',
 '2003-07',
 '2003-08',
 '2003-09',
 '2003-10',
 '2003-11',
 '2003-12',
 '2004-01',
 '2004-02',
 '2004-03',
 '2004-04',
 '2004-05',
 '2004-06',
 '2004-07',
 '2004-08',
 '2004-09',
 '2004-10',
 '2004-11',
 '2004-12',
 '2005-01',
 '2005-02',
 '2005-03',
 '2005-04',
 '2005-05',
 '2005-06',
 '2005-07',
 '2005-08',
 '2005-09',
 '2005-10',
 '2005-11',
 '2005-12',
 '2006-01',
 '2006-02',
 '2006-03',
 '2006-04',
 '2006-05',
 '2006-06',
 '2006-07',
 '2006-08',
 '2006-09',
 '2006-10',
 '2006-11',
 '2006-12',
 '2007-01',
 '2007-02',
 '2007-03',
 '2007-04',
 '2007-05',
 '2007-06',
 '2007-07',
 '2007-08',
 '2007-09',
 '2007-10',
 '2007-11',
 '2007-12',
 '2008-01',
 '2008-02',
 '2008-03',
 '2008-04',
 '2008-05',
 '2008-06',
 '2008-07',
 '2008-08',
 '2008-09',
 '2008-10',
 '2008-11',
 '2008-12',
 '2009-01',
 '2009-02',
 '2009-03',
 '2009-04',
 '2009-05',
 '2009-06',
 '2009-07',
 '2009-08',
 '2009-09',
 '2009-10',
 '2009-11',
 '2009-12',
 '2010-01',
 '2010-02',
 '2010-03',
 '2010-04',
 '2010-05',
 '2010-06',
 '2010-07',
 '2010-08',
 '2010-09',
 '2010-10',
 '2010-11',
 '2010-12',
 '2011-01',
 '2011-02',
 '2011-03',
 '2011-04',
 '2011-05',
 '2011-06',
 '2011-07',
 '2011-08',
 '2011-09',
 '2011-10',
 '2011-11',
 '2011-12',
 '2012-01',
 '2012-02',
 '2012-03',
 '2012-04',
 '2012-05',
 '2012-06',
 '2012-07',
 '2012-08',
 '2012-09',
 '2012-10',
 '2012-11',
 '2012-12',
 '2013-01',
 '2013-02',
 '2013-03',
 '2013-04',
 '2013-05',
 '2013-06',
 '2013-07',
 '2013-08',
 '2013-09',
 '2013-10',
 '2013-11',
 '2013-12',
 '2014-01',
 '2014-02',
 '2014-03',
 '2014-04',
 '2014-05',
 '2014-06',
 '2014-07',
 '2014-08',
 '2014-09',
 '2014-10',
 '2014-11',
 '2014-12',
 '2015-01',
 '2015-02',
 '2015-03',
 '2015-04',
 '2015-05',
 '2015-06',
 '2015-07',
 '2015-08',
 '2015-09',
 '2015-10',
 '2015-11',
 '2015-12',
 '2016-01',
 '2016-02',
 '2016-03',
 '2016-04',
 '2016-05',
 '2016-06',
 '2016-07',
 '2016-08']

In [220]:
Quarter = []
for i in c1:
    if i[-2:] in ["01","02","03"]:
        Quarter.append(i[:4]+'q1')
    elif i[-2:] in ["04","05","06"]:
        Quarter.append(i[:4]+'q2')
    elif i[-2:] in ["07","08","09"]:
        Quarter.append(i[:4]+'q3')
    elif i[-2:] in ["10","11","12"]:
        Quarter.append(i[:4]+'q4')
Quarter

['2000q1',
 '2000q1',
 '2000q1',
 '2000q2',
 '2000q2',
 '2000q2',
 '2000q3',
 '2000q3',
 '2000q3',
 '2000q4',
 '2000q4',
 '2000q4',
 '2001q1',
 '2001q1',
 '2001q1',
 '2001q2',
 '2001q2',
 '2001q2',
 '2001q3',
 '2001q3',
 '2001q3',
 '2001q4',
 '2001q4',
 '2001q4',
 '2002q1',
 '2002q1',
 '2002q1',
 '2002q2',
 '2002q2',
 '2002q2',
 '2002q3',
 '2002q3',
 '2002q3',
 '2002q4',
 '2002q4',
 '2002q4',
 '2003q1',
 '2003q1',
 '2003q1',
 '2003q2',
 '2003q2',
 '2003q2',
 '2003q3',
 '2003q3',
 '2003q3',
 '2003q4',
 '2003q4',
 '2003q4',
 '2004q1',
 '2004q1',
 '2004q1',
 '2004q2',
 '2004q2',
 '2004q2',
 '2004q3',
 '2004q3',
 '2004q3',
 '2004q4',
 '2004q4',
 '2004q4',
 '2005q1',
 '2005q1',
 '2005q1',
 '2005q2',
 '2005q2',
 '2005q2',
 '2005q3',
 '2005q3',
 '2005q3',
 '2005q4',
 '2005q4',
 '2005q4',
 '2006q1',
 '2006q1',
 '2006q1',
 '2006q2',
 '2006q2',
 '2006q2',
 '2006q3',
 '2006q3',
 '2006q3',
 '2006q4',
 '2006q4',
 '2006q4',
 '2007q1',
 '2007q1',
 '2007q1',
 '2007q2',
 '2007q2',
 '2007q2',
 '2007q3',
 '2007q3',
 '2007q3',
 '2007q4',
 '2007q4',
 '2007q4',
 '2008q1',
 '2008q1',
 '2008q1',
 '2008q2',
 '2008q2',
 '2008q2',
 '2008q3',
 '2008q3',
 '2008q3',
 '2008q4',
 '2008q4',
 '2008q4',
 '2009q1',
 '2009q1',
 '2009q1',
 '2009q2',
 '2009q2',
 '2009q2',
 '2009q3',
 '2009q3',
 '2009q3',
 '2009q4',
 '2009q4',
 '2009q4',
 '2010q1',
 '2010q1',
 '2010q1',
 '2010q2',
 '2010q2',
 '2010q2',
 '2010q3',
 '2010q3',
 '2010q3',
 '2010q4',
 '2010q4',
 '2010q4',
 '2011q1',
 '2011q1',
 '2011q1',
 '2011q2',
 '2011q2',
 '2011q2',
 '2011q3',
 '2011q3',
 '2011q3',
 '2011q4',
 '2011q4',
 '2011q4',
 '2012q1',
 '2012q1',
 '2012q1',
 '2012q2',
 '2012q2',
 '2012q2',
 '2012q3',
 '2012q3',
 '2012q3',
 '2012q4',
 '2012q4',
 '2012q4',
 '2013q1',
 '2013q1',
 '2013q1',
 '2013q2',
 '2013q2',
 '2013q2',
 '2013q3',
 '2013q3',
 '2013q3',
 '2013q4',
 '2013q4',
 '2013q4',
 '2014q1',
 '2014q1',
 '2014q1',
 '2014q2',
 '2014q2',
 '2014q2',
 '2014q3',
 '2014q3',
 '2014q3',
 '2014q4',
 '2014q4',
 '2014q4',
 '2015q1',
 '2015q1',
 '2015q1',
 '2015q2',
 '2015q2',
 '2015q2',
 '2015q3',
 '2015q3',
 '2015q3',
 '2015q4',
 '2015q4',
 '2015q4',
 '2016q1',
 '2016q1',
 '2016q1',
 '2016q2',
 '2016q2',
 '2016q2',
 '2016q3',
 '2016q3']

In [221]:
homes.columns = Quarter

In [189]:
homes.head()

,,2000q1,2000q1,2000q1,2000q2,2000q2,2000q2,2000q3,2000q3,2000q3,2000q4,...,2015q4,2015q4,2016q1,2016q1,2016q1,2016q2,2016q2,2016q2,2016q3,2016q3
State,RegionName,,,,,,,,,,,,,,,,,,,,,
NY,New York,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,573600,576200,578400,582200,588000,592200,592500,590200,588000,586400
CA,Los Angeles,204400.0,207000.0,209800.0,212300.0,214500.0,216600.0,219000.0,221100.0,222800.0,224300.0,...,558200,560800,562800,565600,569700,574000,577800,580600,583000,585100
IL,Chicago,136800.0,138300.0,140100.0,141900.0,143700.0,145300.0,146700.0,147900.0,149000.0,150400.0,...,207800,206900,206200,205800,206200,207300,208200,209100,211000,213000
PA,Philadelphia,52700.0,53100.0,53200.0,53400.0,53700.0,53800.0,53800.0,54100.0,54500.0,54700.0,...,122300,121600,121800,123300,125200,126400,127000,127400,128300,129100
AZ,Phoenix,111000.0,111700.0,112800.0,113700.0,114300.0,115100.0,115600.0,115900.0,116500.0,117200.0,...,183800,185300,186600,188000,189100,190200,191300,192800,194500,195900

In [190]:
len(Quarter)

200

In [222]:
for x in range(0,len(Quarter)):
    if (Quarter[x] == Quarter[x-1]) and (Quarter[x] == Quarter[x-2]):
        homes[Quarter[x]] = homes[Quarter[x]].mean(axis = 1)

In [207]:
for x in range(0,len(Quarter)):
    if (Quarter[x] == Quarter[x+1]) and (Quarter[x] == Quarter[x+2]):
        print(homes[Quarter[x]])

                              2000q1     2000q1     2000q1
State RegionName
NY    New York                   NaN        NaN        NaN
CA    Los Angeles           204400.0   207000.0   209800.0
IL    Chicago               136800.0   138300.0   140100.0
PA    Philadelphia           52700.0    53100.0    53200.0
AZ    Phoenix               111000.0   111700.0   112800.0
NV    Las Vegas             131700.0   132600.0   133500.0
CA    San Diego             219200.0   222900.0   226600.0
TX    Dallas                 85100.0    84500.0    83800.0
CA    San Jose              364100.0   374000.0   384700.0
FL    Jacksonville           88000.0    88800.0    89000.0
CA    San Francisco         418700.0   430600.0   442200.0
TX    Austin                142500.0   143000.0   143400.0
MI    Detroit                64400.0    66200.0    67900.0
OH    Columbus               93800.0    94400.0    94900.0
TN    Memphis                72400.0    72500.0    72600.0
NC    Charlotte             126600.0   126900.0   127300.0
TX    El Paso                75900.0    76300.0    76600.0
MA    Boston                203100.0   206900.0   210800.0
WA    Seattle               246100.0   248800.0   250900.0
MD    Baltimore              59300.0    59700.0    60000.0
CO    Denver                160600.0   162200.0   163900.0
DC    Washington            136200.0   137900.0   139200.0
TN    Nashville             113100.0   113900.0   114500.0
WI    Milwaukee              77600.0    78100.0    78400.0
AZ    Tucson                101500.0   101900.0   102100.0
OR    Portland              152300.0   152800.0   153300.0
OK    Oklahoma City          76000.0    76400.0    76900.0
NE    Omaha                 112400.0   112800.0   113200.0
NM    Albuquerque           125300.0   125800.0   126500.0
CA    Fresno                 93300.0    94300.0    94700.0
...                              ...        ...        ...
TX    Granite Shoals             NaN        NaN        NaN
MD    Piney Point           155300.0   156200.0   155500.0
WI    Maribel                    NaN        NaN        NaN
ID    Middleton             106700.0   105600.0   105900.0
CO    Bennett               131600.0   133100.0   134000.0
NH    East Hampstead        160000.0   161800.0   163700.0
MO    Garden City                NaN        NaN        NaN
AR    Mountainburg           54800.0    56800.0    59900.0
WI    Oostburg              106800.0   107300.0   107700.0
CA    Twin Peaks             96800.0    97000.0    98300.0
NY    Upper Brookville     1222500.0  1240300.0  1230100.0
HI    Volcano                98500.0    97400.0   100200.0
SC    Wedgefield                 NaN        NaN        NaN
MI    Williamston           157400.0   159400.0   160700.0
AR    Decatur                63600.0    63500.0    63700.0
TN    Briceville             39000.0    40200.0    40800.0
IN    Edgewood               91300.0    91800.0    92000.0
TN    Palmyra                    NaN        NaN        NaN
MD    Saint Inigoes         148200.0   148400.0   147600.0
IN    Marysville                 NaN        NaN        NaN
CA    Forest Falls          114200.0   113300.0   113100.0
MO    Bois D Arc            106600.0   108400.0   108400.0
VA    Henrico               127800.0   128600.0   129300.0
NJ    Diamond Beach         171300.0   173700.0   176900.0
TN    Gruetli Laager         35500.0    35500.0    35200.0
WI    Town of Wrightstown   101100.0   101500.0   102700.0
NY    Urbana                 77600.0    79400.0    80600.0
WI    New Denmark           113900.0   114000.0   115800.0
CA    Angels                148000.0   151200.0   153800.0
WI    Holland               150800.0   151000.0   151300.0

[10730 rows x 3 columns]
                              2000q2     2000q2     2000q2
State RegionName
NY    New York                   NaN        NaN        NaN
CA    Los Angeles           212300.0   214500.0   216600.0
IL    Chicago               141900.0   143700.0   145300.0
PA    Philadelphia           53400.0    53700.0    53800.0
AZ    Phoenix               113700.0   114300.0   115100.0
NV    Las Vegas             134100.0   134400.0   134600.0
CA    San Diego             230200.0   234400.0   238500.0
TX    Dallas                 83600.0    83800.0    84200.0
CA    San Jose              395700.0   407100.0   416900.0
FL    Jacksonville           88900.0    89600.0    90600.0
CA    San Francisco         453600.0   465200.0   474600.0
TX    Austin                143900.0   145000.0   146900.0
MI    Detroit                68900.0    68600.0    67400.0
OH    Columbus               95400.0    95800.0    96300.0
TN    Memphis                72900.0    73200.0    73500.0
NC    Charlotte             127800.0   128300.0   129000.0
TX    El Paso                76900.0    77000.0    76700.0
MA    Boston                214700.0   218900.0   223900.0
WA    Seattle               252900.0   255500.0   258400.0
MD    Baltimore              59800.0    59400.0    59300.0
CO    Denver                165800.0   167800.0   169900.0
DC    Washington            140900.0   144200.0   147500.0
TN    Nashville             115000.0   115400.0   115400.0
WI    Milwaukee              78600.0    79000.0    79600.0
AZ    Tucson                102500.0   103000.0   103400.0
OR    Portland              153800.0   154700.0   155800.0
OK    Oklahoma City          77200.0    77500.0    77800.0
NE    Omaha                 113400.0   114000.0   114900.0
NM    Albuquerque           126700.0   126700.0   126700.0
CA    Fresno                 94800.0    95200.0    95800.0
...                              ...        ...        ...
TX    Granite Shoals             NaN        NaN        NaN
MD    Piney Point           154300.0   154900.0   156300.0
WI    Maribel                    NaN        NaN        NaN
ID    Middleton             105500.0   104200.0   103300.0
CO    Bennett               134700.0   135800.0   137000.0
NH    East Hampstead        166300.0   169400.0   171600.0
MO    Garden City                NaN        NaN        NaN
AR    Mountainburg           62500.0    64500.0    66000.0
WI    Oostburg              107400.0   107600.0   109300.0
CA    Twin Peaks             99800.0   100300.0   100400.0
NY    Upper Brookville     1221900.0  1231300.0  1239700.0
HI    Volcano               103700.0   105200.0   107200.0
SC    Wedgefield                 NaN        NaN        NaN
MI    Williamston           160900.0   161000.0   162000.0
AR    Decatur                64200.0    64500.0    64500.0
TN    Briceville             41100.0    41500.0    42600.0
IN    Edgewood               91500.0    91700.0    92400.0
TN    Palmyra                    NaN        NaN        NaN
MD    Saint Inigoes         146700.0   147300.0   148800.0
IN    Marysville                 NaN        NaN        NaN
CA    Forest Falls          114000.0   114700.0   114500.0
MO    Bois D Arc            107500.0   106400.0   107000.0
VA    Henrico               130100.0   130700.0   131500.0
NJ    Diamond Beach         180500.0   183400.0   185400.0
TN    Gruetli Laager         35200.0    35500.0    35700.0
WI    Town of Wrightstown   103700.0   105200.0   107300.0
NY    Urbana                 80200.0    81000.0    83800.0
WI    New Denmark           117600.0   119100.0   121100.0
CA    Angels                155600.0   156000.0   156100.0
WI    Holland               151000.0   150200.0   150300.0

[10730 rows x 3 columns]
                              2000q3     2000q3     2000q3
State RegionName
NY    New York                   NaN        NaN        NaN
CA    Los Angeles           219000.0   221100.0   222800.0
IL    Chicago               146700.0   147900.0   149000.0
PA    Philadelphia           53800.0    54100.0    54500.0
AZ    Phoenix               115600.0   115900.0   116500.0
NV    Las Vegas             134800.0   135400.0   136000.0
CA    San Diego             242000.0   245300.0   249000.0
TX    Dallas                 84500.0    84900.0    85200.0
CA    San Jose              424700.0   431700.0   439200.0
FL    Jacksonville           91200.0    91700.0    92200.0
CA    San Francisco         480400.0   483300.0   486900.0
TX    Austin                148400.0   149300.0   150700.0
MI    Detroit                66600.0    66600.0    67100.0
OH    Columbus               96700.0    97200.0    97500.0
TN    Memphis                73800.0    73900.0    73900.0
NC    Charlotte             129700.0   130300.0   130600.0
TX    El Paso                76600.0    76700.0    76900.0
MA    Boston                228900.0   233300.0   237100.0
WA    Seattle               260800.0   262500.0   264300.0
MD    Baltimore              58900.0    58700.0    58900.0
CO    Denver                172200.0   174400.0   176400.0
DC    Washington            148800.0   148700.0   148600.0
TN    Nashville             115500.0   115800.0   116300.0
WI    Milwaukee              80400.0    81000.0    81700.0
AZ    Tucson                103900.0   104500.0   105000.0
OR    Portland              156400.0   156600.0   156700.0
OK    Oklahoma City          78300.0    78600.0    78800.0
NE    Omaha                 115800.0   116700.0   117700.0
NM    Albuquerque           126500.0   126400.0   126400.0
CA    Fresno                 96100.0    96400.0    96900.0
...                              ...        ...        ...
TX    Granite Shoals             NaN        NaN        NaN
MD    Piney Point           157800.0   158200.0   159400.0
WI    Maribel                    NaN        NaN        NaN
ID    Middleton             102600.0   101800.0   101300.0
CO    Bennett               138200.0   139700.0   141500.0
NH    East Hampstead        172900.0   173900.0   175100.0
MO    Garden City                NaN        NaN        NaN
AR    Mountainburg           67100.0    68000.0    68400.0
WI    Oostburg              111200.0   112400.0   113700.0
CA    Twin Peaks            101100.0   101600.0   101300.0
NY    Upper Brookville     1235800.0  1234100.0  1243200.0
HI    Volcano               111500.0   114400.0   118100.0
SC    Wedgefield                 NaN        NaN        NaN
MI    Williamston           163300.0   164300.0   165300.0
AR    Decatur                64900.0    65700.0    66400.0
TN    Briceville             43400.0    43600.0    44000.0
IN    Edgewood               92700.0    92800.0    93300.0
TN    Palmyra                    NaN        NaN        NaN
MD    Saint Inigoes         152400.0   157100.0   162200.0
IN    Marysville                 NaN        NaN        NaN
CA    Forest Falls          114400.0   114600.0   113500.0
MO    Bois D Arc            107900.0   107200.0   106200.0
VA    Henrico               132000.0   132300.0   132500.0
NJ    Diamond Beach         187400.0   189000.0   190500.0
TN    Gruetli Laager         36100.0    36700.0    37200.0
WI    Town of Wrightstown   110000.0   111800.0   112300.0
NY    Urbana                 88700.0    92400.0    94000.0
WI    New Denmark           123900.0   126200.0   128100.0
CA    Angels                156900.0   157700.0   159700.0
WI    Holland               151900.0   153500.0   154300.0

[10730 rows x 3 columns]
                              2000q4     2000q4     2000q4
State RegionName
NY    New York                   NaN        NaN        NaN
CA    Los Angeles           224300.0   226100.0   228100.0
IL    Chicago               150400.0   152000.0   154000.0
PA    Philadelphia           54700.0    54600.0    54800.0
AZ    Phoenix               117200.0   117400.0   117600.0
NV    Las Vegas             136400.0   136900.0   137700.0
CA    San Diego             252500.0   256000.0   259600.0
TX    Dallas                 86000.0    87900.0    89600.0
CA    San Jose              447600.0   456000.0   462900.0
FL    Jacksonville           92600.0    93100.0    93600.0
CA    San Francisco         490700.0   493400.0   494900.0
TX    Austin                152900.0   155700.0   158600.0
MI    Detroit                67200.0    67000.0    66900.0
OH    Columbus               97800.0    98200.0    98800.0
TN    Memphis                73900.0    74000.0    74100.0
NC    Charlotte             131000.0   131500.0   132200.0
TX    El Paso                77000.0    77300.0    77600.0
MA    Boston                240100.0   242500.0   244900.0
WA    Seattle               266200.0   267500.0   268500.0
MD    Baltimore              59400.0    59600.0    59500.0
CO    Denver                178300.0   180300.0   182400.0
DC    Washington            148000.0   147400.0   147700.0
TN    Nashville             116700.0   117000.0   117100.0
WI    Milwaukee              82100.0    82200.0    82700.0
AZ    Tucson                105300.0   105600.0   106100.0
OR    Portland              157000.0   157400.0   158000.0
OK    Oklahoma City          78800.0    79200.0    79500.0
NE    Omaha                 118200.0   118700.0   119800.0
NM    Albuquerque           126500.0   126800.0   126900.0
CA    Fresno                 97500.0    98200.0    99000.0
...                              ...        ...        ...
TX    Granite Shoals             NaN        NaN        NaN
MD    Piney Point           162000.0   164600.0   164500.0
WI    Maribel                    NaN        NaN        NaN
ID    Middleton             102200.0   104500.0   105800.0
CO    Bennett               143400.0   144900.0   145700.0
NH    East Hampstead        177100.0   180200.0   184200.0
MO    Garden City                NaN        NaN        NaN
AR    Mountainburg           68500.0    68800.0    69700.0
WI    Oostburg              115000.0   115200.0   116300.0
CA    Twin Peaks            101300.0   101800.0   102000.0
NY    Upper Brookville     1254400.0  1261100.0  1269200.0
HI    Volcano               123700.0   126600.0   124000.0
SC    Wedgefield                 NaN        NaN        NaN
MI    Williamston           165900.0   166300.0   166400.0
AR    Decatur                66700.0    66800.0    66700.0
TN    Briceville             44800.0    45100.0    44800.0
IN    Edgewood               93900.0    94800.0    96000.0
TN    Palmyra                    NaN        NaN        NaN
MD    Saint Inigoes         164400.0   163800.0   161900.0
IN    Marysville                 NaN        NaN        NaN
CA    Forest Falls          111900.0   110800.0   110700.0
MO    Bois D Arc            107300.0   108400.0   108600.0
VA    Henrico               132800.0   133300.0   133700.0
NJ    Diamond Beach         192400.0   193600.0   193400.0
TN    Gruetli Laager         37400.0    37400.0    37100.0
WI    Town of Wrightstown   112900.0   114300.0   117400.0
NY    Urbana                 96300.0    99400.0    99400.0
WI    New Denmark           129600.0   131500.0   134800.0
CA    Angels                164100.0   167800.0   170500.0
WI    Holland               154400.0   155600.0   157500.0

[10730 rows x 3 columns]
                              2001q1     2001q1     2001q1
State RegionName
NY    New York                   NaN        NaN        NaN
CA    Los Angeles           230600.0   233000.0   235400.0
IL    Chicago               155600.0   157000.0   158200.0
PA    Philadelphia           55100.0    55400.0    55500.0
AZ    Phoenix               118400.0   119700.0   120700.0
NV    Las Vegas             138600.0   139500.0   140500.0
CA    San Diego             263200.0   267100.0   271300.0
TX    Dallas                 89800.0    89700.0    89700.0
CA    San Jose              468000.0   471300.0   472700.0
FL    Jacksonville           94000.0    94400.0    94800.0
CA    San Francisco         493900.0   493200.0   495100.0
TX    Austin                160500.0   161500.0   161700.0
MI    Detroit                67000.0    67500.0    68000.0
OH    Columbus               99100.0    99400.0    99700.0
TN    Memphis                74100.0    74100.0    74300.0
NC    Charlotte             132700.0   133000.0   133100.0
TX    El Paso                77900.0    78300.0    78500.0
MA    Boston                247500.0   249700.0   251600.0
WA    Seattle               269900.0   271100.0   272000.0
MD    Baltimore              59500.0    59600.0    59600.0
CO    Denver                184400.0   186400.0   188700.0
DC    Washington            148500.0   149900.0   150900.0
TN    Nashville             117500.0   118100.0   118500.0
WI    Milwaukee              83300.0    84000.0    84800.0
AZ    Tucson                106600.0   107200.0   107800.0
OR    Portland              159000.0   160000.0   160700.0
OK    Oklahoma City          79600.0    79800.0    80100.0
NE    Omaha                 120700.0   121000.0   120900.0
NM    Albuquerque           126900.0   127100.0   127300.0
CA    Fresno                 99800.0   100500.0   101400.0
...                              ...        ...        ...
TX    Granite Shoals             NaN        NaN        NaN
MD    Piney Point           163600.0   163100.0   163500.0
WI    Maribel                    NaN        NaN        NaN
ID    Middleton             105900.0   106100.0   106500.0
CO    Bennett               146900.0   148300.0   149700.0
NH    East Hampstead        188100.0   191300.0   193300.0
MO    Garden City                NaN        NaN        NaN
AR    Mountainburg           70000.0    69100.0    66900.0
WI    Oostburg              118600.0   119500.0   119200.0
CA    Twin Peaks            102800.0   104100.0   105100.0
NY    Upper Brookville     1281500.0  1295200.0  1308800.0
HI    Volcano               120400.0   117700.0   116300.0
SC    Wedgefield                 NaN        NaN        NaN
MI    Williamston           166400.0   166200.0   166700.0
AR    Decatur                66600.0    67100.0    67900.0
TN    Briceville             44800.0    44700.0    44900.0
IN    Edgewood               97800.0    99200.0    99800.0
TN    Palmyra                    NaN        NaN        NaN
MD    Saint Inigoes         162400.0   164100.0   166200.0
IN    Marysville                 NaN        NaN        NaN
CA    Forest Falls          111900.0   114000.0   114400.0
MO    Bois D Arc            109300.0   110800.0   112000.0
VA    Henrico               134400.0   135300.0   136000.0
NJ    Diamond Beach         193000.0   194100.0   196100.0
TN    Gruetli Laager         37200.0    37800.0    38200.0
WI    Town of Wrightstown   122700.0   126800.0   128400.0
NY    Urbana                 96600.0    94000.0    94000.0
WI    New Denmark           140000.0   144700.0   146700.0
CA    Angels                174200.0   177500.0   178800.0
WI    Holland               159400.0   161800.0   164400.0

[10730 rows x 3 columns]
                              2001q2     2001q2     2001q2
State RegionName
NY    New York                   NaN        NaN        NaN
CA    Los Angeles           237300.0   239100.0   240900.0
IL    Chicago               159900.0   161800.0   163700.0
PA    Philadelphia           55400.0    55500.0    55700.0
AZ    Phoenix               121200.0   121500.0   122000.0
NV    Las Vegas             141300.0   141800.0   142100.0
CA    San Diego             274200.0   276100.0   278500.0
TX    Dallas                 89500.0    89300.0    89100.0
CA    San Jose              472300.0   471000.0   467300.0
FL    Jacksonville           95300.0    95600.0    95900.0
CA    San Francisco         496900.0   495500.0   496000.0
TX    Austin                161300.0   160700.0   160200.0
MI    Detroit                68300.0    68300.0    68500.0
OH    Columbus              100000.0   100200.0   100600.0
TN    Memphis                74600.0    75000.0    75200.0
NC    Charlotte             133200.0   133300.0   133100.0
TX    El Paso                78600.0    78300.0    78000.0
MA    Boston                253900.0   257000.0   260300.0
WA    Seattle               272600.0   272500.0   272200.0
MD    Baltimore              59600.0    60100.0    60700.0
CO    Denver                190800.0   192600.0   194200.0
DC    Washington            152300.0   154900.0   158200.0
TN    Nashville             118800.0   119100.0   119600.0
WI    Milwaukee              85200.0    85500.0    86000.0

[10730 rows x 3 columns]
                              2003q2     2003q2     2003q2
State RegionName
NY    New York                   NaN        NaN        NaN
CA    Los Angeles           329600.0   334600.0   339300.0
IL    Chicago               191300.0   194100.0   197500.0
PA    Philadelphia           65700.0    66100.0    66800.0
AZ    Phoenix               137200.0   138000.0   138600.0
NV    Las Vegas             161700.0   162600.0   163700.0
CA    San Diego             374500.0   377600.0   380200.0
TX    Dallas                 98400.0    98500.0    98600.0
CA    San Jose              475400.0   473100.0   472600.0
FL    Jacksonville          112600.0   113000.0   114100.0
CA    San Francisco         574400.0   574700.0   577600.0
TX    Austin                154100.0   154200.0   154400.0
MI    Detroit                75000.0    75200.0    75400.0
OH    Columbus              110400.0   110800.0   111200.0
TN    Memphis                78800.0    79000.0    79000.0
NC    Charlotte             135400.0   135700.0   135900.0
TX    El Paso                77100.0    77500.0    78400.0
MA    Boston                320400.0   322700.0   324100.0
WA    Seattle               298500.0   299200.0   300100.0
MD    Baltimore              67500.0    68000.0    68400.0
CO    Denver                207600.0   207300.0   207100.0
DC    Washington            243100.0   246200.0   248800.0
TN    Nashville             125800.0   126100.0   126100.0
WI    Milwaukee              99600.0   100700.0   101600.0
AZ    Tucson                125300.0   126100.0   127300.0
OR    Portland              187000.0   188500.0   189700.0
OK    Oklahoma City          87000.0    87600.0    88100.0
NE    Omaha                 120500.0   121200.0   121200.0
NM    Albuquerque           134600.0   134600.0   134600.0
CA    Fresno                144800.0   147400.0   149700.0
...                              ...        ...        ...
TX    Granite Shoals             NaN        NaN        NaN
MD    Piney Point           208600.0   211300.0   213700.0
WI    Maribel                    NaN        NaN        NaN
ID    Middleton             114900.0   117200.0   119000.0
CO    Bennett               161900.0   162300.0   162400.0
NH    East Hampstead        240800.0   245600.0   250900.0
MO    Garden City                NaN        NaN        NaN
AR    Mountainburg           66700.0    67100.0    66900.0
WI    Oostburg              117300.0   118200.0   118400.0
CA    Twin Peaks            137100.0   139700.0   142300.0
NY    Upper Brookville     1769900.0  1782900.0  1789200.0
HI    Volcano               129800.0   134400.0   139400.0
SC    Wedgefield                 NaN        NaN        NaN
MI    Williamston           186400.0   187400.0   188000.0
AR    Decatur                71100.0    71900.0    72800.0
TN    Briceville             39500.0    40000.0    40700.0
IN    Edgewood              103600.0   104400.0   104300.0
TN    Palmyra                    NaN        NaN        NaN
MD    Saint Inigoes         195200.0   197000.0   199000.0
IN    Marysville                 NaN        NaN        NaN
CA    Forest Falls          140600.0   143800.0   146500.0
MO    Bois D Arc            121600.0   123100.0   122000.0
VA    Henrico               156800.0   158100.0   159300.0
NJ    Diamond Beach         366100.0   370500.0   379000.0
TN    Gruetli Laager         39500.0    39600.0    39700.0
WI    Town of Wrightstown   136700.0   138800.0   141000.0
NY    Urbana                 89000.0    89400.0    89100.0
WI    New Denmark           149500.0   151000.0   153600.0
CA    Angels                217400.0   217100.0   216900.0
WI    Holland               165200.0   167300.0   169200.0

[10730 rows x 3 columns]
                              2003q3     2003q3     2003q3
State RegionName
NY    New York                   NaN        NaN        NaN
CA    Los Angeles           344500.0   350600.0   356800.0
IL    Chicago               200200.0   202300.0   203700.0
PA    Philadelphia           67700.0    68500.0    69200.0
AZ    Phoenix               138900.0   139200.0   139400.0
NV    Las Vegas             165200.0   167200.0   169600.0
CA    San Diego             383800.0   389200.0   395800.0
TX    Dallas                 98800.0    99100.0    99500.0
CA    San Jose              474800.0   478500.0   481300.0
FL    Jacksonville          115600.0   116800.0   117600.0
CA    San Francisco         581200.0   585000.0   587700.0
TX    Austin                154900.0   155600.0   155900.0
MI    Detroit                75600.0    75800.0    75900.0
OH    Columbus              111800.0   112500.0   113000.0
TN    Memphis                79200.0    79300.0    79300.0
NC    Charlotte             136000.0   136100.0   136500.0
TX    El Paso                78800.0    78900.0    79100.0
MA    Boston                325000.0   325900.0   326700.0
WA    Seattle               301500.0   303100.0   304800.0
MD    Baltimore              68700.0    69100.0    69400.0
CO    Denver                207000.0   207300.0   208000.0
DC    Washington            251400.0   254900.0   259300.0
TN    Nashville             126200.0   126500.0   126800.0
WI    Milwaukee             102800.0   104000.0   104900.0
AZ    Tucson                128500.0   129800.0   131000.0
OR    Portland              190700.0   191700.0   192600.0
OK    Oklahoma City          88500.0    89000.0    89300.0
NE    Omaha                 121400.0   121800.0   122300.0
NM    Albuquerque           134900.0   135300.0   135300.0
CA    Fresno                152500.0   156000.0   159600.0
...                              ...        ...        ...
TX    Granite Shoals             NaN        NaN        NaN
MD    Piney Point           218300.0   223600.0   227000.0
WI    Maribel                    NaN        NaN        NaN
ID    Middleton             119100.0   119800.0   123300.0
CO    Bennett               162200.0   161600.0   160700.0
NH    East Hampstead        254300.0   256900.0   259600.0
MO    Garden City                NaN        NaN        NaN
AR    Mountainburg           66600.0    66300.0    66000.0
WI    Oostburg              118200.0   118200.0   119100.0
CA    Twin Peaks            144700.0   146800.0   149300.0
NY    Upper Brookville     1795400.0  1802800.0  1809100.0
HI    Volcano               143300.0   145300.0   147500.0
SC    Wedgefield                 NaN        NaN        NaN
MI    Williamston           187600.0   187500.0   188100.0
AR    Decatur                73400.0    73800.0    73900.0
TN    Briceville             41700.0    43000.0    44600.0
IN    Edgewood              103500.0   103200.0   104100.0
TN    Palmyra                    NaN        NaN        NaN
MD    Saint Inigoes         201000.0   202000.0   201700.0
IN    Marysville                 NaN        NaN        NaN
CA    Forest Falls          149400.0   154300.0   159100.0
MO    Bois D Arc            122000.0   123900.0   125000.0
VA    Henrico               160500.0   161600.0   162700.0
NJ    Diamond Beach         389800.0   397100.0   400500.0
TN    Gruetli Laager         39400.0    39000.0    38900.0
WI    Town of Wrightstown   142400.0   143600.0   144300.0
NY    Urbana                 89200.0    89600.0    90100.0
WI    New Denmark           155300.0   155800.0   156000.0
CA    Angels                219400.0   223900.0   230000.0
WI    Holland               170200.0   171300.0   172700.0

[10730 rows x 3 columns]
                              2003q4     2003q4     2003q4
State RegionName
NY    New York                   NaN        NaN        NaN
CA    Los Angeles           363400.0   370700.0   378400.0
IL    Chicago               204000.0   204000.0   204400.0
PA    Philadelphia           69800.0    70700.0    71700.0
AZ    Phoenix               139600.0   140300.0   141400.0
NV    Las Vegas             172500.0   176000.0   180000.0
CA    San Diego             403300.0   411800.0   421000.0
TX    Dallas                 99700.0    99900.0   100300.0
CA    San Jose              483500.0   486500.0   491500.0
FL    Jacksonville          118600.0   119800.0   120900.0
CA    San Francisco         592700.0   602500.0   614900.0
TX    Austin                155800.0   155500.0   155800.0
MI    Detroit                75900.0    76300.0    76800.0
OH    Columbus              113400.0   113500.0   113700.0
TN    Memphis                79300.0    79500.0    79800.0
NC    Charlotte             137400.0   138000.0   138400.0
TX    El Paso                79200.0    79400.0    79900.0
MA    Boston                328500.0   330700.0   333100.0
WA    Seattle               306400.0   308500.0   311100.0
MD    Baltimore              69700.0    70100.0    70400.0
CO    Denver                208600.0   209100.0   209900.0
DC    Washington            263700.0   267900.0   272000.0
TN    Nashville             127200.0   127900.0   128400.0
WI    Milwaukee             105800.0   106900.0   108000.0
AZ    Tucson                132100.0   133100.0   133900.0
OR    Portland              193700.0   195200.0   196900.0
OK    Oklahoma City          89500.0    89800.0    90200.0
NE    Omaha                 122700.0   122800.0   122700.0
NM    Albuquerque           135400.0   135800.0   136300.0
CA    Fresno                162800.0   165800.0   168700.0
...                              ...        ...        ...
TX    Granite Shoals             NaN        NaN        NaN
MD    Piney Point           229400.0   231800.0   236200.0
WI    Maribel                    NaN        NaN        NaN
ID    Middleton             126000.0   123900.0   120100.0
CO    Bennett               159900.0   159600.0   160000.0
NH    East Hampstead        261300.0   261900.0   262600.0
MO    Garden City                NaN        NaN        NaN
AR    Mountainburg           65900.0    66200.0    66800.0
WI    Oostburg              120100.0   120600.0   120600.0
CA    Twin Peaks            152800.0   156600.0   159600.0
NY    Upper Brookville     1814300.0  1827100.0  1839500.0
HI    Volcano               151900.0   156900.0   160300.0
SC    Wedgefield                 NaN        NaN        NaN
MI    Williamston           188000.0   187900.0   189200.0
AR    Decatur                74200.0    75100.0    75900.0
TN    Briceville             44800.0    45200.0    46200.0
IN    Edgewood              104800.0   105200.0   105900.0
TN    Palmyra                    NaN        NaN        NaN
MD    Saint Inigoes         203100.0   205500.0   208300.0
IN    Marysville                 NaN        NaN        NaN
CA    Forest Falls          161600.0   164400.0   168300.0
MO    Bois D Arc            125300.0   125900.0   123200.0
VA    Henrico               163900.0   165100.0   166500.0
NJ    Diamond Beach         400800.0   400600.0   405000.0
TN    Gruetli Laager         39300.0    39700.0    40100.0
WI    Town of Wrightstown   144900.0   146000.0   146300.0
NY    Urbana                 91700.0    94200.0    96500.0
WI    New Denmark           156300.0   156300.0   156600.0
CA    Angels                238400.0   247500.0   253300.0
WI    Holland               173900.0   175700.0   177500.0

[10730 rows x 3 columns]
                              2004q1     2004q1     2004q1
State RegionName
NY    New York                   NaN        NaN        NaN
CA    Los Angeles           386500.0   394900.0   404300.0
IL    Chicago               205300.0   206300.0   207000.0
PA    Philadelphia           72800.0    73700.0    74700.0
AZ    Phoenix               142500.0   143700.0   144900.0
NV    Las Vegas             184300.0   189500.0   196400.0
CA    San Diego             430600.0   440100.0   449500.0
TX    Dallas                101200.0   102500.0   104400.0
CA    San Jose              498000.0   505200.0   511700.0
FL    Jacksonville          121900.0   122700.0   123800.0
CA    San Francisco         626500.0   638500.0   651700.0
TX    Austin                157100.0   158800.0   160000.0
MI    Detroit                76800.0    76200.0    75700.0
OH    Columbus              114100.0   114500.0   114600.0
TN    Memphis                80100.0    80400.0    80600.0
NC    Charlotte             138500.0   138600.0   138800.0
TX    El Paso                80800.0    81900.0    83000.0
MA    Boston                335500.0   338400.0   341200.0
WA    Seattle               314000.0   317000.0   320300.0
MD    Baltimore              70800.0    71200.0    72000.0
CO    Denver                210400.0   210500.0   210800.0
DC    Washington            276700.0   282100.0   287500.0
TN    Nashville             128700.0   129000.0   129400.0
WI    Milwaukee             108700.0   109500.0   110700.0
AZ    Tucson                134900.0   135700.0   136400.0
OR    Portland              198600.0   200100.0   201500.0
OK    Oklahoma City          90400.0    90700.0    91100.0
NE    Omaha                 123000.0   124100.0   125100.0
NM    Albuquerque           136900.0   137600.0   138500.0
CA    Fresno                171800.0   175400.0   178900.0
...                              ...        ...        ...
TX    Granite Shoals             NaN        NaN        NaN
MD    Piney Point           243500.0   249200.0   252900.0
WI    Maribel                    NaN        NaN        NaN
ID    Middleton             119000.0   120100.0   121200.0
CO    Bennett               160900.0   162000.0   162400.0
NH    East Hampstead        263500.0   265200.0   267700.0
MO    Garden City                NaN        NaN        NaN
AR    Mountainburg           67600.0    68300.0    69100.0
WI    Oostburg              120700.0   121300.0   122500.0
CA    Twin Peaks            162000.0   164300.0   166700.0
NY    Upper Brookville     1846900.0  1866000.0  1902000.0
HI    Volcano               162600.0   165300.0   168800.0
SC    Wedgefield                 NaN        NaN        NaN
MI    Williamston           191000.0   192400.0   193200.0
AR    Decatur                76300.0    76900.0    77900.0
TN    Briceville             47400.0    47900.0    48800.0
IN    Edgewood              106800.0   107600.0   108400.0
TN    Palmyra                    NaN        NaN        NaN
MD    Saint Inigoes         212400.0   217600.0   222800.0
IN    Marysville                 NaN        NaN        NaN
CA    Forest Falls          171300.0   173600.0   174700.0
MO    Bois D Arc            116700.0   110600.0   106500.0
VA    Henrico               168000.0   169400.0   170800.0
NJ    Diamond Beach         411700.0   418300.0   426400.0
TN    Gruetli Laager         40400.0    40900.0    41600.0
WI    Town of Wrightstown   144800.0   143300.0   143000.0
NY    Urbana                 98000.0    98900.0    98900.0
WI    New Denmark           156400.0   155900.0   156400.0
CA    Angels                256400.0   260800.0   268600.0
WI    Holland               183100.0   188900.0   191100.0

[10730 rows x 3 columns]
                              2004q2     2004q2     2004q2
State RegionName
NY    New York                   NaN        NaN        NaN
CA    Los Angeles           414600.0   425500.0   436600.0
IL    Chicago               207600.0   208600.0   209600.0
PA    Philadelphia           75700.0    76700.0    77800.0
AZ    Phoenix               145900.0   147100.0   148400.0
NV    Las Vegas             205200.0   215600.0   227100.0
CA    San Diego             461200.0   476000.0   490900.0
TX    Dallas                106500.0   107900.0   108800.0
CA    San Jose              517800.0   524900.0   534000.0
FL    Jacksonville          125100.0   126300.0   127100.0
CA    San Francisco         664100.0   671700.0   673400.0
TX    Austin                161200.0   162400.0   163300.0
MI    Detroit                75400.0    75500.0    75800.0
OH    Columbus              114800.0   115200.0   115600.0
TN    Memphis                80500.0    80600.0    80800.0
NC    Charlotte             139300.0   139500.0   139600.0
TX    El Paso                84100.0    85600.0    86500.0
MA    Boston                344000.0   346600.0   348800.0
WA    Seattle               324100.0   328100.0   331800.0
MD    Baltimore              72800.0    73300.0    73700.0
CO    Denver                211700.0   212600.0   212900.0
DC    Washington            292800.0   298300.0   304500.0
TN    Nashville             129900.0   130300.0   130500.0
WI    Milwaukee             111900.0   113100.0   114500.0
AZ    Tucson                137300.0   138800.0   140400.0
OR    Portland              202800.0   203800.0   204900.0
OK    Oklahoma City          91600.0    92000.0    92400.0
NE    Omaha                 125300.0   124900.0   125100.0
NM    Albuquerque           139100.0   139800.0   140900.0
CA    Fresno                183100.0   188200.0   193600.0
...                              ...        ...        ...
TX    Granite Shoals             NaN        NaN        NaN
MD    Piney Point           256300.0   260900.0   267200.0
WI    Maribel                    NaN        NaN        NaN
ID    Middleton             122400.0   122800.0   122200.0
CO    Bennett               162100.0   161500.0   161600.0
NH    East Hampstead        271300.0   274400.0   276600.0
MO    Garden City                NaN        NaN        NaN
AR    Mountainburg           70000.0    70700.0    71100.0
WI    Oostburg              123800.0   124700.0   125800.0
CA    Twin Peaks            168500.0   170500.0   173700.0
NY    Upper Brookville     1934300.0  1951700.0  1969800.0
HI    Volcano               175300.0   181800.0   183800.0
SC    Wedgefield                 NaN        NaN        NaN
MI    Williamston           193400.0   193500.0   194400.0
AR    Decatur                78800.0    79300.0    79900.0
TN    Briceville             49700.0    50500.0    51200.0
IN    Edgewood              109500.0   111100.0   113200.0
TN    Palmyra                    NaN        NaN        NaN
MD    Saint Inigoes         228600.0   233000.0   237800.0
IN    Marysville                 NaN        NaN        NaN
CA    Forest Falls          175400.0   175600.0   176700.0
MO    Bois D Arc            103900.0   102900.0   102600.0
VA    Henrico               172500.0   174300.0   176200.0
NJ    Diamond Beach         434500.0   437900.0   437900.0
TN    Gruetli Laager         42200.0    42800.0    43700.0
WI    Town of Wrightstown   143500.0   144100.0   144600.0
NY    Urbana                 97600.0    96300.0    96100.0
WI    New Denmark           157800.0   159100.0   159900.0
CA    Angels                277800.0   286500.0   293200.0
WI    Holland               193000.0   197400.0   200200.0

[10730 rows x 3 columns]
                              2004q3     2004q3     2004q3
State RegionName
NY    New York                   NaN   432600.0   438700.0
CA    Los Angeles           447400.0   456700.0   464400.0
IL    Chicago               210900.0   212800.0   214600.0
PA    Philadelphia           79100.0    80500.0    82100.0
AZ    Phoenix               150300.0   153100.0   156200.0
NV    Las Vegas             238000.0   247100.0   254100.0
CA    San Diego             503100.0   511800.0   518200.0
TX    Dallas                109700.0   110500.0   111000.0
CA    San Jose              543900.0   553000.0   560400.0
FL    Jacksonville          128300.0   129900.0   131800.0
CA    San Francisco         674500.0   677800.0   683800.0
TX    Austin                163900.0   164400.0   164700.0
MI    Detroit                76100.0    76500.0    77000.0
OH    Columbus              115900.0   116400.0   117100.0
TN    Memphis                81000.0    81100.0    81400.0
NC    Charlotte             139900.0   140400.0   140800.0
TX    El Paso                87100.0    87600.0    88200.0
MA    Boston                351200.0   354300.0   357500.0
WA    Seattle               334700.0   337500.0   340300.0
MD    Baltimore              74400.0    75100.0    76000.0
CO    Denver                212900.0   213100.0   213000.0
DC    Washington            311200.0   318000.0   325500.0
TN    Nashville             130800.0   131400.0   131800.0

                              2006q2     2006q2     2006q2
State RegionName
NY    New York              508800.0   515300.0   517000.0
CA    Los Angeles           585300.0   587300.0   589900.0
IL    Chicago               244900.0   245300.0   245400.0
PA    Philadelphia          110800.0   112500.0   113800.0
AZ    Phoenix               244800.0   245400.0   245600.0
NV    Las Vegas             297300.0   297800.0   298100.0
CA    San Diego             540100.0   539100.0   535900.0
TX    Dallas                118200.0   118600.0   118800.0
CA    San Jose              686000.0   685500.0   685000.0
FL    Jacksonville          170300.0   172600.0   174500.0
CA    San Francisco         783200.0   785300.0   785800.0
TX    Austin                182700.0   184100.0   185900.0
MI    Detroit                77800.0    77800.0    77900.0
OH    Columbus              122200.0   122200.0   122000.0
TN    Memphis                87000.0    87200.0    87300.0
NC    Charlotte             148300.0   149200.0   149900.0
TX    El Paso               103000.0   104800.0   106300.0
MA    Boston                374100.0   371200.0   368300.0
WA    Seattle               420200.0   424600.0   429200.0
MD    Baltimore             110800.0   112400.0   114300.0
CO    Denver                224700.0   225000.0   225000.0
DC    Washington            397100.0   396900.0   396100.0
TN    Nashville             147300.0   148100.0   149000.0
WI    Milwaukee             136600.0   136400.0   136100.0
AZ    Tucson                208800.0   209900.0   209900.0
OR    Portland              266100.0   269800.0   273000.0
OK    Oklahoma City         103000.0   103500.0   103900.0
NE    Omaha                 132700.0   132800.0   133000.0
NM    Albuquerque           174000.0   176900.0   179700.0
CA    Fresno                286400.0   286600.0   286500.0
...                              ...        ...        ...
TX    Granite Shoals             NaN        NaN        NaN
MD    Piney Point           397800.0   395900.0   394500.0
WI    Maribel                    NaN        NaN        NaN
ID    Middleton             148900.0   153700.0   158200.0
CO    Bennett               165900.0   165900.0   165200.0
NH    East Hampstead        313300.0   313300.0   312400.0
MO    Garden City                NaN        NaN        NaN
AR    Mountainburg           74700.0    74700.0    75500.0
WI    Oostburg              137700.0   138200.0   139000.0
CA    Twin Peaks            274200.0   276000.0   275200.0
NY    Upper Brookville     2352700.0  2381900.0  2400200.0
HI    Volcano               312000.0   315400.0   317500.0
SC    Wedgefield                 NaN        NaN        NaN
MI    Williamston           203600.0   204000.0   202600.0
AR    Decatur                92000.0    93000.0    94100.0
TN    Briceville             47800.0    49000.0    50100.0
IN    Edgewood              112600.0   109900.0   108700.0
TN    Palmyra                    NaN        NaN        NaN
MD    Saint Inigoes         337900.0   340300.0   342800.0
IN    Marysville                 NaN        NaN        NaN
CA    Forest Falls          261500.0   261200.0   263900.0
MO    Bois D Arc            126700.0   126100.0   127500.0
VA    Henrico               217700.0   219000.0   220000.0
NJ    Diamond Beach         519500.0   514700.0   513200.0
TN    Gruetli Laager         49800.0    50400.0    50900.0
WI    Town of Wrightstown   149900.0   150300.0   149900.0
NY    Urbana                106200.0   107400.0   107400.0
WI    New Denmark           178800.0   178900.0   177400.0
CA    Angels                375600.0   378900.0   383600.0
WI    Holland               230800.0   232700.0   233200.0

[10730 rows x 3 columns]
                              2006q3     2006q3     2006q3
State RegionName
NY    New York              517800.0   520800.0   521500.0
CA    Los Angeles           592200.0   593300.0   593400.0
IL    Chicago               245800.0   245800.0   245500.0
PA    Philadelphia          114800.0   115600.0   116000.0
AZ    Phoenix               245600.0   245300.0   244600.0
NV    Las Vegas             298100.0   297700.0   296800.0
CA    San Diego             531700.0   527900.0   524000.0
TX    Dallas                119200.0   119900.0   120600.0
CA    San Jose              684400.0   683700.0   684100.0
FL    Jacksonville          175700.0   176300.0   176800.0
CA    San Francisco         784500.0   784200.0   783200.0
TX    Austin                187700.0   188700.0   189600.0
MI    Detroit                78200.0    78000.0    77700.0
OH    Columbus              121800.0   121500.0   121000.0
TN    Memphis                87300.0    87600.0    87900.0
NC    Charlotte             150800.0   151700.0   152500.0
TX    El Paso               107600.0   109200.0   111200.0
MA    Boston                366100.0   364300.0   363200.0
WA    Seattle               433400.0   437400.0   440600.0
MD    Baltimore             116000.0   117800.0   119800.0
CO    Denver                225200.0   225600.0   225700.0
DC    Washington            395200.0   395000.0   395100.0
TN    Nashville             149800.0   150500.0   151300.0
WI    Milwaukee             135900.0   136100.0   136000.0
AZ    Tucson                209700.0   209200.0   208700.0
OR    Portland              275000.0   276300.0   278100.0
OK    Oklahoma City         104200.0   104400.0   104500.0
NE    Omaha                 133100.0   133600.0   133900.0
NM    Albuquerque           182500.0   185000.0   187300.0
CA    Fresno                285500.0   283300.0   280400.0
...                              ...        ...        ...
TX    Granite Shoals             NaN        NaN        NaN
MD    Piney Point           390800.0   386500.0   389500.0
WI    Maribel                    NaN        NaN        NaN
ID    Middleton             162900.0   167600.0   171200.0
CO    Bennett               164500.0   163200.0   161300.0
NH    East Hampstead        311000.0   310000.0   308300.0
MO    Garden City                NaN        NaN        NaN
AR    Mountainburg           76100.0    75900.0    76100.0
WI    Oostburg              140000.0   140100.0   140100.0
CA    Twin Peaks            273200.0   271500.0   270600.0
NY    Upper Brookville     2403200.0  2400700.0  2389600.0
HI    Volcano               317600.0   315700.0   313600.0
SC    Wedgefield                 NaN        NaN        NaN
MI    Williamston           201100.0   199700.0   198000.0
AR    Decatur                95400.0    96200.0    96300.0
TN    Briceville             51500.0    53200.0    54100.0
IN    Edgewood              109600.0   111600.0   112100.0
TN    Palmyra                    NaN        NaN        NaN
MD    Saint Inigoes         342400.0   342100.0   344200.0
IN    Marysville                 NaN        NaN        NaN
CA    Forest Falls          269200.0   271700.0   268900.0
MO    Bois D Arc            129900.0   131700.0   133600.0
VA    Henrico               221200.0   222500.0   223900.0
NJ    Diamond Beach         515000.0   518100.0   518800.0
TN    Gruetli Laager         51500.0    52000.0    52100.0
WI    Town of Wrightstown   149900.0   150900.0   151800.0
NY    Urbana                107000.0   106700.0   107200.0
WI    New Denmark           175800.0   175000.0   175400.0
CA    Angels                387200.0   387900.0   385000.0
WI    Holland               232000.0   229400.0   226600.0

[10730 rows x 3 columns]
                              2006q4     2006q4     2006q4
State RegionName
NY    New York              523000.0   526300.0   524800.0
CA    Los Angeles           593100.0   592900.0   591600.0
IL    Chicago               245900.0   246900.0   247300.0
PA    Philadelphia          116400.0   116700.0   116800.0
AZ    Phoenix               243800.0   243400.0   243400.0
NV    Las Vegas             295800.0   294300.0   292900.0
CA    San Diego             520100.0   517700.0   515900.0
TX    Dallas                120900.0   121100.0   121300.0
CA    San Jose              685900.0   688600.0   691300.0
FL    Jacksonville          177400.0   177800.0   177200.0
CA    San Francisco         781000.0   778000.0   775900.0
TX    Austin                191100.0   192700.0   194300.0
MI    Detroit                77400.0    77000.0    76400.0
OH    Columbus              120600.0   120500.0   120400.0
TN    Memphis                88200.0    88600.0    89100.0
NC    Charlotte             153100.0   153800.0   154400.0
TX    El Paso               113100.0   114600.0   115900.0
MA    Boston                362500.0   362100.0   361600.0
WA    Seattle               443500.0   446400.0   448800.0
MD    Baltimore             121600.0   123400.0   124500.0
CO    Denver                225500.0   225700.0   226000.0
DC    Washington            395200.0   395100.0   394900.0
TN    Nashville             152300.0   153200.0   153700.0
WI    Milwaukee             135800.0   135500.0   135500.0
AZ    Tucson                208100.0   207500.0   206200.0
OR    Portland              281200.0   284400.0   286900.0
OK    Oklahoma City         104700.0   104900.0   104800.0
NE    Omaha                 133600.0   133100.0   132600.0
NM    Albuquerque           189300.0   191000.0   192700.0
CA    Fresno                277600.0   275200.0   272300.0
...                              ...        ...        ...
TX    Granite Shoals             NaN        NaN        NaN
MD    Piney Point           396700.0   399800.0   396900.0
WI    Maribel                    NaN        NaN        NaN
ID    Middleton             174200.0   177900.0   181900.0
CO    Bennett               159600.0   158300.0   157300.0
NH    East Hampstead        305200.0   301000.0   295700.0
MO    Garden City                NaN        NaN        NaN
AR    Mountainburg           76800.0    77400.0    77600.0
WI    Oostburg              141300.0   142900.0   143600.0
CA    Twin Peaks            268200.0   263600.0   259600.0
NY    Upper Brookville     2380700.0  2374900.0  2380900.0
HI    Volcano               310400.0   307200.0   303100.0
SC    Wedgefield                 NaN        NaN        NaN
MI    Williamston           196900.0   196700.0   195800.0
AR    Decatur                96200.0    96700.0    97400.0
TN    Briceville             54700.0    55300.0    55700.0
IN    Edgewood              110700.0   110400.0   109600.0
TN    Palmyra                    NaN        NaN        NaN
MD    Saint Inigoes         346700.0   347800.0   347900.0
IN    Marysville                 NaN        NaN        NaN
CA    Forest Falls          263200.0   259100.0   254900.0
MO    Bois D Arc            135200.0   136300.0   137300.0
VA    Henrico               225200.0   226200.0   227000.0
NJ    Diamond Beach         517700.0   515700.0   513900.0
TN    Gruetli Laager         51800.0    51500.0    51600.0
WI    Town of Wrightstown   152200.0   152100.0   151100.0
NY    Urbana                108400.0   109700.0   110500.0
WI    New Denmark           176500.0   176300.0   173700.0
CA    Angels                383100.0   383500.0   382600.0
WI    Holland               225900.0   226300.0   227900.0

[10730 rows x 3 columns]
                              2007q1     2007q1     2007q1
State RegionName
NY    New York              519100.0   516200.0   516400.0
CA    Los Angeles           590900.0   591800.0   592600.0
IL    Chicago               247400.0   247300.0   247000.0
PA    Philadelphia          116900.0   117300.0   117800.0
AZ    Phoenix               243600.0   243200.0   242200.0
NV    Las Vegas             291900.0   290400.0   287600.0
CA    San Diego             514000.0   512900.0   511600.0
TX    Dallas                121300.0   121300.0   121400.0
CA    San Jose              694100.0   696700.0   698000.0
FL    Jacksonville          176200.0   175600.0   175500.0
CA    San Francisco         777200.0   782900.0   791000.0
TX    Austin                196200.0   198100.0   199600.0
MI    Detroit                75900.0    75700.0    75800.0
OH    Columbus              120300.0   120300.0   120300.0
TN    Memphis                89400.0    89700.0    89800.0
NC    Charlotte             155200.0   156600.0   157700.0
TX    El Paso               117300.0   118300.0   118900.0
MA    Boston                361700.0   362500.0   363200.0
WA    Seattle               451000.0   453600.0   455600.0
MD    Baltimore             124800.0   125400.0   127000.0
CO    Denver                226200.0   226300.0   226500.0
DC    Washington            395200.0   396600.0   398000.0
TN    Nashville             154300.0   155000.0   155600.0
WI    Milwaukee             135500.0   135400.0   135400.0
AZ    Tucson                204600.0   203600.0   203300.0
OR    Portland              288800.0   291400.0   293300.0
OK    Oklahoma City         104500.0   104600.0   104900.0
NE    Omaha                 132400.0   132500.0   132400.0
NM    Albuquerque           194100.0   195300.0   196100.0
CA    Fresno                269400.0   266800.0   264500.0
...                              ...        ...        ...
TX    Granite Shoals             NaN        NaN        NaN
MD    Piney Point           393400.0   390300.0   387200.0
WI    Maribel                    NaN        NaN        NaN
ID    Middleton             185600.0   188500.0   189500.0
CO    Bennett               156900.0   156300.0   154800.0
NH    East Hampstead        290500.0   287200.0   285500.0
MO    Garden City                NaN        NaN        NaN
AR    Mountainburg           78000.0    78300.0    78400.0
WI    Oostburg              143800.0   143400.0   142500.0
CA    Twin Peaks            258600.0   258500.0   259300.0
NY    Upper Brookville     2391900.0  2396900.0  2391500.0
HI    Volcano               298400.0   294100.0   290200.0
SC    Wedgefield                 NaN        NaN        NaN
MI    Williamston           194500.0   194000.0   193800.0
AR    Decatur                97200.0    96700.0    96600.0
TN    Briceville             56000.0    56600.0    56400.0
IN    Edgewood              106900.0   104600.0   104500.0
TN    Palmyra                    NaN        NaN        NaN
MD    Saint Inigoes         346700.0   345000.0   342500.0
IN    Marysville                 NaN        NaN        NaN
CA    Forest Falls          247900.0   240600.0   237500.0
MO    Bois D Arc            138600.0   138700.0   137600.0
VA    Henrico               227900.0   228600.0   229400.0
NJ    Diamond Beach         511200.0   506100.0   500000.0
TN    Gruetli Laager         51500.0    51200.0    50900.0
WI    Town of Wrightstown   150400.0   150600.0   150900.0
NY    Urbana                112300.0   115400.0   117300.0
WI    New Denmark           171500.0   171200.0   171400.0
CA    Angels                380300.0   378900.0   379300.0
WI    Holland               230800.0   232700.0   232200.0

[10730 rows x 3 columns]
                              2007q2     2007q2     2007q2
State RegionName
NY    New York              516300.0   515500.0   512200.0
CA    Los Angeles           592100.0   590200.0   586200.0
IL    Chicago               246700.0   246400.0   246100.0
PA    Philadelphia          118200.0   118600.0   119300.0
AZ    Phoenix               241300.0   240200.0   238400.0
NV    Las Vegas             284400.0   282000.0   279900.0
CA    San Diego             508800.0   505300.0   501800.0
TX    Dallas                121300.0   121700.0   122300.0
CA    San Jose              696600.0   693500.0   690100.0
FL    Jacksonville          175400.0   175300.0   174700.0
CA    San Francisco         799300.0   807700.0   815600.0
TX    Austin                201100.0   202900.0   205100.0
MI    Detroit                75700.0    75200.0    74900.0
OH    Columbus              120100.0   119700.0   119400.0
TN    Memphis                89600.0    89400.0    89100.0
NC    Charlotte             158300.0   158800.0   159400.0
TX    El Paso               119600.0   120300.0   121100.0
MA    Boston                363500.0   362900.0   361300.0
WA    Seattle               458100.0   461200.0   464100.0
MD    Baltimore             128100.0   128900.0   129700.0
CO    Denver                226500.0   226200.0   225800.0
DC    Washington            398400.0   397800.0   397000.0
TN    Nashville             156100.0   156500.0   156700.0
WI    Milwaukee             135600.0   135700.0   135400.0
AZ    Tucson                203000.0   202400.0   201300.0
OR    Portland              294900.0   295900.0   296800.0
OK    Oklahoma City         105200.0   105700.0   106200.0
NE    Omaha                 132400.0   132600.0   132700.0
NM    Albuquerque           196600.0   196900.0   197500.0
CA    Fresno                262200.0   259800.0   256900.0
...                              ...        ...        ...
TX    Granite Shoals             NaN        NaN        NaN
MD    Piney Point           385000.0   384600.0   386300.0
WI    Maribel                    NaN        NaN        NaN
ID    Middleton             190100.0   192000.0   194600.0
CO    Bennett               153000.0   152200.0   152100.0
NH    East Hampstead        285200.0   284900.0   284000.0
MO    Garden City                NaN        NaN        NaN
AR    Mountainburg           78500.0    78600.0    79300.0
WI    Oostburg              142000.0   142500.0   143900.0
CA    Twin Peaks            260900.0   262300.0   263600.0
NY    Upper Brookville     2387500.0  2387800.0  2386700.0
HI    Volcano               286100.0   283100.0   281600.0
SC    Wedgefield                 NaN        NaN        NaN
MI    Williamston           192600.0   191300.0   191600.0
AR    Decatur                97100.0    97500.0    97900.0
TN    Briceville             56100.0    56200.0    55900.0
IN    Edgewood              104700.0   105500.0   105900.0
TN    Palmyra                    NaN        NaN        NaN
MD    Saint Inigoes         340600.0   341000.0   342900.0
IN    Marysville                 NaN        NaN        NaN
CA    Forest Falls          238300.0   240300.0   237900.0
MO    Bois D Arc            136300.0   136100.0   135100.0
VA    Henrico               230200.0   230700.0   230800.0
NJ    Diamond Beach         498000.0   498000.0   495800.0
TN    Gruetli Laager         50900.0    51400.0    51900.0
WI    Town of Wrightstown   150900.0   151600.0   152900.0
NY    Urbana                118300.0   119100.0   119600.0
WI    New Denmark           170900.0   171200.0   172800.0
CA    Angels                377900.0   375200.0   372600.0
WI    Holland               230600.0   227500.0   224600.0

[10730 rows x 3 columns]
                              2007q3     2007q3     2007q3
State RegionName
NY    New York              509200.0   509800.0   511600.0
CA    Los Angeles           581600.0   577500.0   572800.0
IL    Chicago               246100.0   246300.0   246400.0
PA    Philadelphia          120200.0   120900.0   121400.0
AZ    Phoenix               236400.0   234700.0   233300.0
NV    Las Vegas             277900.0   275200.0   271800.0
CA    San Diego             498200.0   494100.0   489400.0
TX    Dallas                122500.0   122500.0   122700.0
CA    San Jose              686900.0   683500.0   680200.0
FL    Jacksonville          173700.0   172800.0   171700.0
CA    San Francisco         822500.0   827500.0   830200.0
TX    Austin                207800.0   210100.0   211900.0
MI    Detroit                74700.0    74300.0    73900.0
OH    Columbus              119300.0   119300.0   119200.0
TN    Memphis                88400.0    87900.0    87500.0
NC    Charlotte             160000.0   160500.0   161000.0
TX    El Paso               121900.0   122900.0   123400.0
MA    Boston                359600.0   358100.0   356900.0
WA    Seattle               466500.0   468200.0   468100.0
MD    Baltimore             130000.0   130000.0   130000.0
CO    Denver                225700.0   225700.0   225700.0
DC    Washington            396800.0   397200.0   397200.0
TN    Nashville             156900.0   157100.0   157200.0
WI    Milwaukee             134600.0   134000.0   133900.0

                              2011q3     2011q3     2011q3
State RegionName
NY    New York              469900.0   469500.0   468200.0
CA    Los Angeles           384700.0   382100.0   379500.0
IL    Chicago               175900.0   174100.0   172800.0
PA    Philadelphia          115300.0   115500.0   115600.0
AZ    Phoenix               104100.0   102900.0   102300.0
NV    Las Vegas             113000.0   112100.0   111400.0
CA    San Diego             371600.0   368900.0   366500.0
TX    Dallas                 94300.0    93900.0    93600.0
CA    San Jose              496100.0   495100.0   492300.0
FL    Jacksonville          107600.0   106600.0   105500.0
CA    San Francisco         672000.0   666300.0   662400.0
TX    Austin                199200.0   198200.0   197600.0
MI    Detroit                36500.0    36300.0    36300.0
OH    Columbus              101200.0    99900.0    98300.0
TN    Memphis                65700.0    65000.0    64700.0
NC    Charlotte             135000.0   134500.0   133800.0
TX    El Paso               112900.0   112400.0   111600.0
MA    Boston                343600.0   341400.0   339400.0
WA    Seattle               354200.0   352900.0   352100.0
MD    Baltimore             107900.0   106800.0   105500.0
CO    Denver                207700.0   206700.0   207200.0
DC    Washington            360700.0   359300.0   358900.0
TN    Nashville             143600.0   143000.0   141700.0
WI    Milwaukee              96700.0    95700.0    95000.0
AZ    Tucson                127500.0   126100.0   124300.0
OR    Portland              230800.0   231000.0   231000.0
OK    Oklahoma City         112700.0   112800.0   112900.0
NE    Omaha                 126700.0   125300.0   123900.0
NM    Albuquerque           166600.0   166100.0   165100.0
CA    Fresno                129600.0   128000.0   127800.0
...                              ...        ...        ...
TX    Granite Shoals        117400.0   116400.0   115500.0
MD    Piney Point           302700.0   303800.0   302800.0
WI    Maribel               129600.0   127900.0   126300.0
ID    Middleton             114700.0   113900.0   113200.0
CO    Bennett               123100.0   122300.0   121800.0
NH    East Hampstead        224100.0   223400.0   221400.0
MO    Garden City           101000.0   101100.0   100800.0
AR    Mountainburg           93600.0    94900.0    95800.0
WI    Oostburg              127800.0   126500.0   125800.0
CA    Twin Peaks            140800.0   137400.0   134200.0
NY    Upper Brookville     1627500.0  1609600.0  1593700.0
HI    Volcano               172000.0   171500.0   169600.0
SC    Wedgefield             83100.0    83100.0    82800.0
MI    Williamston           154100.0   155100.0   155800.0
AR    Decatur                79700.0    79200.0    78800.0
TN    Briceville             57600.0    59000.0    59700.0
IN    Edgewood               91600.0    90700.0    90100.0
TN    Palmyra               122200.0   123500.0   124600.0
MD    Saint Inigoes         257400.0   256300.0   255900.0
IN    Marysville            103900.0   106100.0   108400.0
CA    Forest Falls          132600.0   133800.0   132000.0
MO    Bois D Arc            141800.0   141800.0   139400.0
VA    Henrico               188700.0   186400.0   185200.0
NJ    Diamond Beach         396100.0   395800.0   396400.0
TN    Gruetli Laager         53900.0    53800.0    53600.0
WI    Town of Wrightstown   142400.0   142300.0   143100.0
NY    Urbana                130600.0   129700.0   129500.0
WI    New Denmark           180700.0   178100.0   175500.0
CA    Angels                209600.0   206000.0   201600.0
WI    Holland               189400.0   189300.0   190600.0

[10730 rows x 3 columns]
                              2011q4     2011q4     2011q4
State RegionName
NY    New York              465800.0   463500.0   461800.0
CA    Los Angeles           377200.0   375700.0   373800.0
IL    Chicago               171400.0   170100.0   169100.0
PA    Philadelphia          115200.0   114800.0   114100.0
AZ    Phoenix               102400.0   103000.0   104100.0
NV    Las Vegas             110800.0   110300.0   110100.0
CA    San Diego             365700.0   366600.0   367400.0
TX    Dallas                 93300.0    93700.0    94500.0
CA    San Jose              490300.0   488700.0   485600.0
FL    Jacksonville          104700.0   104200.0   103500.0
CA    San Francisco         661900.0   662200.0   660800.0
TX    Austin                197800.0   198200.0   199600.0
MI    Detroit                36000.0    35800.0    35900.0
OH    Columbus               97000.0    96200.0    95400.0
TN    Memphis                65000.0    65400.0    65900.0
NC    Charlotte             132700.0   132000.0   131700.0
TX    El Paso               111200.0   111000.0   111200.0
MA    Boston                339200.0   342300.0   347200.0
WA    Seattle               351800.0   352700.0   354100.0
MD    Baltimore             104700.0   104600.0   103100.0
CO    Denver                208000.0   208200.0   208800.0
DC    Washington            358900.0   359700.0   361300.0
TN    Nashville             140700.0   140700.0   140900.0
WI    Milwaukee              94400.0    93600.0    92800.0
AZ    Tucson                122400.0   121200.0   120700.0
OR    Portland              230900.0   229400.0   227300.0
OK    Oklahoma City         113100.0   113500.0   113700.0
NE    Omaha                 123300.0   123400.0   123800.0
NM    Albuquerque           163700.0   162500.0   161600.0
CA    Fresno                127800.0   127200.0   126200.0
...                              ...        ...        ...
TX    Granite Shoals        115200.0   115000.0   114600.0
MD    Piney Point           301500.0   300700.0   300500.0
WI    Maribel               125200.0   123900.0   122400.0
ID    Middleton             113100.0   113200.0   113900.0
CO    Bennett               121400.0   120600.0   120700.0
NH    East Hampstead        220300.0   220500.0   220000.0
MO    Garden City           100700.0   100300.0    98800.0
AR    Mountainburg           96100.0    95800.0    94800.0
WI    Oostburg              125500.0   125800.0   126500.0
CA    Twin Peaks            131600.0   129200.0   127300.0
NY    Upper Brookville     1587200.0  1585700.0  1581600.0
HI    Volcano               167700.0   165600.0   164400.0
SC    Wedgefield             82300.0    81600.0    79700.0
MI    Williamston           155400.0   154700.0   152600.0
AR    Decatur                78500.0    78300.0    78100.0
TN    Briceville             60600.0    61700.0    61500.0
IN    Edgewood               89900.0    89700.0    89300.0
TN    Palmyra               125000.0   125000.0   123800.0
MD    Saint Inigoes         257000.0   259600.0   263200.0
IN    Marysville            109200.0   110200.0   111100.0
CA    Forest Falls          129400.0   127000.0   123100.0
MO    Bois D Arc            136600.0   134300.0   133400.0
VA    Henrico               184600.0   184500.0   185100.0
NJ    Diamond Beach         396900.0   395300.0   392400.0
TN    Gruetli Laager         53100.0    53000.0    53300.0
WI    Town of Wrightstown   143800.0   144500.0   144900.0
NY    Urbana                129000.0   128600.0   129000.0
WI    New Denmark           174600.0   176300.0   177100.0
CA    Angels                197600.0   194300.0   190600.0
WI    Holland               191600.0   192200.0   194300.0

[10730 rows x 3 columns]
                              2012q1     2012q1     2012q1
State RegionName
NY    New York              460100.0   459700.0   460800.0
CA    Los Angeles           371500.0   370000.0   370300.0
IL    Chicago               167900.0   166700.0   166200.0
PA    Philadelphia          113500.0   112900.0   111800.0
AZ    Phoenix               105800.0   107600.0   109100.0
NV    Las Vegas             110500.0   110900.0   111200.0
CA    San Diego             368500.0   369600.0   371200.0
TX    Dallas                 95300.0    96100.0    97100.0
CA    San Jose              483600.0   485700.0   489100.0
FL    Jacksonville          102700.0   101500.0   100400.0
CA    San Francisco         658600.0   657900.0   661200.0
TX    Austin                201600.0   203200.0   203800.0
MI    Detroit                35900.0    35800.0    36100.0
OH    Columbus               94500.0    94200.0    94400.0
TN    Memphis                66500.0    66500.0    66400.0
NC    Charlotte             131400.0   131600.0   132200.0
TX    El Paso               111600.0   112000.0   112100.0
MA    Boston                350000.0   351500.0   354300.0
WA    Seattle               355200.0   356100.0   357500.0
MD    Baltimore             100600.0    99100.0    99000.0
CO    Denver                210800.0   212600.0   213300.0
DC    Washington            363400.0   365200.0   366400.0
TN    Nashville             140000.0   139900.0   140700.0
WI    Milwaukee              91600.0    89500.0    87900.0
AZ    Tucson                120300.0   120600.0   121500.0
OR    Portland              226300.0   228000.0   231400.0
OK    Oklahoma City         113400.0   113500.0   114100.0
NE    Omaha                 123700.0   123500.0   123300.0
NM    Albuquerque           160800.0   160000.0   159200.0
CA    Fresno                125300.0   125100.0   125700.0
...                              ...        ...        ...
TX    Granite Shoals        114900.0   115800.0   116900.0
MD    Piney Point           298800.0   294000.0   288500.0
WI    Maribel               121700.0   121500.0   121100.0
ID    Middleton             114200.0   113700.0   113200.0
CO    Bennett               120900.0   121800.0   122900.0
NH    East Hampstead        218400.0   216300.0   215400.0
MO    Garden City            98800.0   101300.0   104600.0
AR    Mountainburg           93200.0    92200.0    91600.0
WI    Oostburg              127000.0   127000.0   127500.0
CA    Twin Peaks            127200.0   127500.0   127000.0
NY    Upper Brookville     1584300.0  1586300.0  1584900.0
HI    Volcano               164800.0   164400.0   161700.0
SC    Wedgefield             77400.0    76500.0    76700.0
MI    Williamston           150100.0   150400.0   151900.0
AR    Decatur                77900.0    77800.0    78500.0
TN    Briceville             60500.0    60300.0    60300.0
IN    Edgewood               88700.0    87900.0    87800.0
TN    Palmyra               121400.0   119700.0   119600.0
MD    Saint Inigoes         266400.0   267100.0   267500.0
IN    Marysville            109800.0   107800.0   108600.0
CA    Forest Falls          119100.0   118000.0   119400.0
MO    Bois D Arc            133500.0   134600.0   134900.0
VA    Henrico               186300.0   186700.0   186000.0
NJ    Diamond Beach         390300.0   390100.0   392500.0
TN    Gruetli Laager         53800.0    54300.0    54700.0
WI    Town of Wrightstown   145000.0   145100.0   145900.0
NY    Urbana                129900.0   130900.0   131900.0
WI    New Denmark           175800.0   174900.0   177000.0
CA    Angels                186700.0   183300.0   181600.0
WI    Holland               196100.0   195900.0   194800.0

[10730 rows x 3 columns]
                              2012q2     2012q2     2012q2
State RegionName
NY    New York              461700.0   462500.0   463900.0
CA    Los Angeles           372100.0   375300.0   378600.0
IL    Chicago               166400.0   166800.0   167900.0
PA    Philadelphia          110800.0   110400.0   110400.0
AZ    Phoenix               111200.0   114000.0   117200.0
NV    Las Vegas             111900.0   113000.0   114800.0
CA    San Diego             373500.0   376900.0   379800.0
TX    Dallas                 97800.0    97900.0    97600.0
CA    San Jose              492800.0   498400.0   504600.0
FL    Jacksonville           99800.0    99500.0    99200.0
CA    San Francisco         668900.0   677800.0   686900.0
TX    Austin                204500.0   205400.0   206900.0
MI    Detroit                36500.0    36600.0    36900.0
OH    Columbus               95100.0    95800.0    96100.0
TN    Memphis                66600.0    66400.0    66000.0
NC    Charlotte             132700.0   133000.0   133300.0
TX    El Paso               112600.0   113700.0   114400.0
MA    Boston                357500.0   358500.0   357500.0
WA    Seattle               359100.0   362300.0   367700.0
MD    Baltimore              99000.0    98800.0    98600.0
CO    Denver                214000.0   215500.0   217600.0
DC    Washington            367500.0   368300.0   369500.0
TN    Nashville             141200.0   141400.0   142000.0
WI    Milwaukee              87800.0    88500.0    88600.0
AZ    Tucson                122200.0   122500.0   123100.0
OR    Portland              234500.0   236800.0   239600.0
OK    Oklahoma City         114300.0   114300.0   114400.0
NE    Omaha                 122700.0   122200.0   122100.0
NM    Albuquerque           158400.0   157800.0   157600.0
CA    Fresno                127100.0   128700.0   130300.0
...                              ...        ...        ...
TX    Granite Shoals        117300.0   116500.0   115400.0
MD    Piney Point           286300.0   287700.0   290000.0
WI    Maribel               121100.0   122100.0   122800.0
ID    Middleton             113700.0   113700.0   113800.0
CO    Bennett               124100.0   125000.0   126300.0
NH    East Hampstead        216400.0   218100.0   219300.0
MO    Garden City           106200.0   106700.0   106800.0
AR    Mountainburg           91000.0    91000.0    91900.0
WI    Oostburg              128000.0   128100.0   128800.0
CA    Twin Peaks            125800.0   125000.0   123800.0
NY    Upper Brookville     1599800.0  1626200.0  1648800.0
HI    Volcano               158200.0   156100.0   157000.0
SC    Wedgefield             76300.0    75000.0    73500.0
MI    Williamston           152300.0   152100.0   151700.0
AR    Decatur                79400.0    79300.0    78600.0
TN    Briceville             61100.0    62300.0    62200.0
IN    Edgewood               89100.0    90100.0    89100.0
TN    Palmyra               119700.0   120700.0   121500.0
MD    Saint Inigoes         270000.0   274000.0   276300.0
IN    Marysville            110900.0   112200.0   112800.0
CA    Forest Falls          121200.0   123100.0   125600.0
MO    Bois D Arc            133900.0   133500.0   134800.0
VA    Henrico               185100.0   184500.0   185000.0
NJ    Diamond Beach         396800.0   399200.0   397700.0
TN    Gruetli Laager         54900.0    55200.0    55600.0
WI    Town of Wrightstown   146500.0   146400.0   146200.0
NY    Urbana                132100.0   131200.0   130600.0
WI    New Denmark           180000.0   181000.0   179500.0
CA    Angels                179900.0   177800.0   177100.0
WI    Holland               193700.0   191700.0   189500.0

[10730 rows x 3 columns]
                              2012q3     2012q3     2012q3
State RegionName
NY    New York              466000.0   467500.0   468200.0
CA    Los Angeles           382100.0   385600.0   389000.0
IL    Chicago               168900.0   168400.0   167100.0
PA    Philadelphia          110200.0   109900.0   109700.0
AZ    Phoenix               120400.0   123300.0   125800.0
NV    Las Vegas             116700.0   118600.0   120400.0
CA    San Diego             382500.0   386600.0   391900.0
TX    Dallas                 97400.0    97600.0    97900.0
CA    San Jose              512300.0   523100.0   533100.0
FL    Jacksonville           98800.0    98500.0    98500.0
CA    San Francisco         699300.0   712500.0   723800.0
TX    Austin                208400.0   209500.0   210000.0
MI    Detroit                37200.0    37300.0    37100.0
OH    Columbus               96200.0    96500.0    96700.0
TN    Memphis                65900.0    65900.0    65500.0
NC    Charlotte             133700.0   134400.0   134900.0
TX    El Paso               114500.0   114900.0   115600.0
MA    Boston                356400.0   357200.0   360100.0
WA    Seattle               373200.0   376700.0   379200.0
MD    Baltimore              99300.0   100200.0   101000.0
CO    Denver                220000.0   222700.0   225300.0
DC    Washington            371700.0   375400.0   378800.0
TN    Nashville             142700.0   143700.0   144800.0
WI    Milwaukee              88300.0    88100.0    88000.0
AZ    Tucson                123900.0   124500.0   125100.0
OR    Portland              241200.0   241500.0   241800.0
OK    Oklahoma City         114500.0   114500.0   114500.0
NE    Omaha                 122700.0   123700.0   124900.0
NM    Albuquerque           158200.0   158900.0   159200.0
CA    Fresno                131600.0   132500.0   133400.0
...                              ...        ...        ...
TX    Granite Shoals        114600.0   114500.0   114800.0
MD    Piney Point           290400.0   288300.0   287700.0
WI    Maribel               123700.0   125500.0   128300.0
ID    Middleton             114300.0   115100.0   115600.0
CO    Bennett               127600.0   128500.0   129300.0
NH    East Hampstead        220300.0   221700.0   223500.0
MO    Garden City           106700.0   105800.0   104600.0
AR    Mountainburg           91900.0    90500.0    88800.0
WI    Oostburg              129600.0   129700.0   129500.0
CA    Twin Peaks            123100.0   123100.0   123100.0
NY    Upper Brookville     1666800.0  1676300.0  1670100.0
HI    Volcano               158800.0   161100.0   162100.0
SC    Wedgefield             73100.0    73400.0    73000.0
MI    Williamston           150700.0   149400.0   148800.0
AR    Decatur                78500.0    79300.0    79900.0
TN    Briceville             59900.0    57300.0    55300.0
IN    Edgewood               87400.0    86600.0    86400.0
TN    Palmyra               120500.0   119100.0   119300.0
MD    Saint Inigoes         275400.0   274700.0   275400.0
IN    Marysville            112700.0   112200.0   112300.0
CA    Forest Falls          128700.0   130000.0   129300.0
MO    Bois D Arc            136300.0   137200.0   136800.0
VA    Henrico               186100.0   187500.0   189000.0
NJ    Diamond Beach         395900.0   396000.0   396800.0
TN    Gruetli Laager         56000.0    56700.0    56400.0
WI    Town of Wrightstown   145400.0   144600.0   143600.0
NY    Urbana                131800.0   132500.0   131000.0
WI    New Denmark           178000.0   178000.0   179200.0
CA    Angels                177600.0   177200.0   176800.0
WI    Holland               188100.0   187300.0   186800.0

[10730 rows x 3 columns]
                              2012q4     2012q4   2012q4
State RegionName
NY    New York              468700.0   469400.0   469400
CA    Los Angeles           391800.0   396400.0   401500
IL    Chicago               166900.0   167300.0   167500
PA    Philadelphia          110000.0   110700.0   111800
AZ    Phoenix               128300.0   130500.0   132500
NV    Las Vegas             122500.0   124600.0   127200
CA    San Diego             397000.0   402000.0   406900
TX    Dallas                 97800.0    97700.0    97600
CA    San Jose              541600.0   551300.0   560400
FL    Jacksonville           98700.0    98800.0    99100
CA    San Francisco         733000.0   743400.0   752000
TX    Austin                210300.0   210500.0   211100
MI    Detroit                36900.0    36700.0    36600
OH    Columbus               96500.0    95800.0    95100
TN    Memphis                64600.0    63900.0    63800
NC    Charlotte             135300.0   135500.0   135500
TX    El Paso               115300.0   114300.0   113700
MA    Boston                362700.0   363800.0   365200
WA    Seattle               382200.0   385300.0   389400
MD    Baltimore             101700.0   102000.0   101600
CO    Denver                227700.0   230600.0   233300
DC    Washington            381300.0   383200.0   385600
TN    Nashville             145200.0   144900.0   145400
WI    Milwaukee              88400.0    88800.0    88700

IndexError: list index out of range

In [223]:
homes.head()

,,2000q1,2000q1,2000q1,2000q2,2000q2,2000q2,2000q3,2000q3,2000q3,2000q4,...,2015q4,2015q4,2016q1,2016q1,2016q1,2016q2,2016q2,2016q2,2016q3,2016q3
State,RegionName,,,,,,,,,,,,,,,,,,,,,
NY,New York,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,572833.333333,572833.333333,582866.666667,582866.666667,582866.666667,591633.333333,591633.333333,591633.333333,588000,586400
CA,Los Angeles,207066.666667,207066.666667,207066.666667,214466.666667,214466.666667,214466.666667,220966.666667,220966.666667,220966.666667,226166.666667,...,557733.333333,557733.333333,566033.333333,566033.333333,566033.333333,577466.666667,577466.666667,577466.666667,583000,585100
IL,Chicago,138400.000000,138400.000000,138400.000000,143633.333333,143633.333333,143633.333333,147866.666667,147866.666667,147866.666667,152133.333333,...,207900.000000,207900.000000,206066.666667,206066.666667,206066.666667,208200.000000,208200.000000,208200.000000,211000,213000
PA,Philadelphia,53000.000000,53000.000000,53000.000000,53633.333333,53633.333333,53633.333333,54133.333333,54133.333333,54133.333333,54700.000000,...,122200.000000,122200.000000,123433.333333,123433.333333,123433.333333,126933.333333,126933.333333,126933.333333,128300,129100
AZ,Phoenix,111833.333333,111833.333333,111833.333333,114366.666667,114366.666667,114366.666667,116000.000000,116000.000000,116000.000000,117400.000000,...,183833.333333,183833.333333,187900.000000,187900.000000,187900.000000,191433.333333,191433.333333,191433.333333,194500,195900

In [232]:
home = homes.loc[:, ~homes.columns.duplicated()]

In [233]:
home

,,2000q1,2000q2,2000q3,2000q4,2001q1,2001q2,2001q3,2001q4,2002q1,2002q2,...,2014q2,2014q3,2014q4,2015q1,2015q2,2015q3,2015q4,2016q1,2016q2,2016q3
State,RegionName,,,,,,,,,,,,,,,,,,,,,
NY,New York,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,5.154667e+05,5.228000e+05,5.280667e+05,5.322667e+05,5.408000e+05,5.572000e+05,5.728333e+05,5.828667e+05,5.916333e+05,588000
CA,Los Angeles,2.070667e+05,2.144667e+05,2.209667e+05,2.261667e+05,2.330000e+05,2.391000e+05,2.450667e+05,2.530333e+05,2.619667e+05,2.727000e+05,...,4.980333e+05,5.090667e+05,5.188667e+05,5.288000e+05,5.381667e+05,5.472667e+05,5.577333e+05,5.660333e+05,5.774667e+05,583000
IL,Chicago,1.384000e+05,1.436333e+05,1.478667e+05,1.521333e+05,1.569333e+05,1.618000e+05,1.664000e+05,1.704333e+05,1.755000e+05,1.775667e+05,...,1.926333e+05,1.957667e+05,2.012667e+05,2.010667e+05,2.060333e+05,2.083000e+05,2.079000e+05,2.060667e+05,2.082000e+05,211000
PA,Philadelphia,5.300000e+04,5.363333e+04,5.413333e+04,5.470000e+04,5.533333e+04,5.553333e+04,5.626667e+04,5.753333e+04,5.913333e+04,6.073333e+04,...,1.137333e+05,1.153000e+05,1.156667e+05,1.162000e+05,1.179667e+05,1.212333e+05,1.222000e+05,1.234333e+05,1.269333e+05,128300
AZ,Phoenix,1.118333e+05,1.143667e+05,1.160000e+05,1.174000e+05,1.196000e+05,1.215667e+05,1.227000e+05,1.243000e+05,1.265333e+05,1.283667e+05,...,1.642667e+05,1.653667e+05,1.685000e+05,1.715333e+05,1.741667e+05,1.790667e+05,1.838333e+05,1.879000e+05,1.914333e+05,194500
NV,Las Vegas,1.326000e+05,1.343667e+05,1.354000e+05,1.370000e+05,1.395333e+05,1.417333e+05,1.433667e+05,1.461333e+05,1.493333e+05,1.509333e+05,...,1.700667e+05,1.734000e+05,1.754667e+05,1.775000e+05,1.816000e+05,1.867667e+05,1.906333e+05,1.946000e+05,1.972000e+05,199300
CA,San Diego,2.229000e+05,2.343667e+05,2.454333e+05,2.560333e+05,2.672000e+05,2.762667e+05,2.845000e+05,2.919333e+05,3.012333e+05,3.128667e+05,...,4.802000e+05,4.890333e+05,4.964333e+05,5.033667e+05,5.120667e+05,5.197667e+05,5.254667e+05,5.293333e+05,5.362333e+05,539000
TX,Dallas,8.446667e+04,8.386667e+04,8.486667e+04,8.783333e+04,8.973333e+04,8.930000e+04,8.906667e+04,9.090000e+04,9.256667e+04,9.380000e+04,...,1.066333e+05,1.089000e+05,1.115333e+05,1.137000e+05,1.211333e+05,1.285667e+05,1.346000e+05,1.405000e+05,1.446000e+05,148200
CA,San Jose,3.742667e+05,4.065667e+05,4.318667e+05,4.555000e+05,4.706667e+05,4.702000e+05,4.568000e+05,4.455667e+05,4.414333e+05,4.577667e+05,...,6.794000e+05,6.970333e+05,7.149333e+05,7.314333e+05,7.567333e+05,7.764000e+05,7.891333e+05,8.036000e+05,8.189333e+05,821700
FL,Jacksonville,8.860000e+04,8.970000e+04,9.170000e+04,9.310000e+04,9.440000e+04,9.560000e+04,9.706667e+04,9.906667e+04,1.012333e+05,1.034333e+05,...,1.207667e+05,1.217333e+05,1.231667e+05,1.241667e+05,1.269000e+05,1.301333e+05,1.320000e+05,1.339667e+05,1.372000e+05,139500
CA,San Francisco,4.305000e+05,4.644667e+05,4.835333e+05,4.930000e+05,4.940667e+05,4.961333e+05,5.041000e+05,5.134000e+05,5.204333e+05,5.381667e+05,...,9.269333e+05,9.545333e+05,9.687667e+05,1.000733e+06,1.060800e+06,1.095100e+06,1.105467e+06,1.121767e+06,1.119267e+06,1108800
TX,Austin,1.429667e+05,1.452667e+05,1.494667e+05,1.557333e+05,1.612333e+05,1.607333e+05,1.595333e+05,1.600333e+05,1.589667e+05,1.575000e+05,...,2.488667e+05,2.528000e+05,2.581333e+05,2.665000e+05,2.750333e+05,2.816333e+05,2.872333e+05,2.935000e+05,3.014333e+05,304100
MI,Detroit,6.616667e+04,6.830000e+04,6.676667e+04,6.703333e+04,6.750000e+04,6.836667e+04,6.926667e+04,6.996667e+04,7.100000e+04,7.233333e+04,...,3.730000e+04,3.710000e+04,3.713333e+04,3.620000e+04,3.583333e+04,3.706667e+04,3.836667e+04,3.796667e+04,3.746667e+04,37700
OH,Columbus,9.436667e+04,9.583333e+04,9.713333e+04,9.826667e+04,9.940000e+04,1.002667e+05,1.010667e+05,1.022000e+05,1.034000e+05,1.048000e+05,...,1.031333e+05,1.045000e+05,1.064333e+05,1.078667e+05,1.094333e+05,1.115667e+05,1.150000e+05,1.167000e+05,1.182000e+05,119700
TN,Memphis,7.250000e+04,7.320000e+04,7.386667e+04,7.400000e+04,7.416667e+04,7.493333e+04,7.550000e+04,7.606667e+04,7.633333e+04,7.676667e+04,...,6.810000e+04,6.910000e+04,7.116667e+04,7.053333e+04,6.870000e+04,6.866667e+04,6.953333e+04,7.090000e+04,7.416667e+04,75600
NC,Charlotte,1.269333e+05,1.283667e+05,1.302000e+05,1.315667e+05,1.329333e+05,1.332000e+05,1.328000e+05,1.331000e+05,1.343667e+05,1.353667e+05,...,1.494667e+05,1.506333e+05,1.527333e+05,1.551667e+05,1.579000e+05,1.601667e+05,1.628667e+05,1.664667e+05,1.694333e+05,171700
TX,El Paso,7.626667e+04,7.686667e+04,7.673333e+04,7.730000e+04,7.823333e+04,7.830000e+04,7.743333e+04,7.680000e+04,7.660000e+04,7.640000e+04,...,1.118000e+05,1.117333e+05,1.117667e+05,1.115000e+05,1.113000e+05,1.110667e+05,1.102667e+05,1.106667e+05,1.114667e+05,112100
MA,Boston,2.069333e+05,2.191667e+05,2.331000e+05,2.425000e+05,2.496000e+05,2.570667e+05,2.669333e+05,2.749667e+05,2.825000e+05,2.893000e+05,...,4.266667e+05,4.314333e+05,4.407333e+05,4.485000e+05,4.553667e+05,4.639667e+05,4.716333e+05,4.826000e+05,4.903667e+05,499200
WA,Seattle,2.486000e+05,2.556000e+05,2.625333e+05,2.674000e+05,2.710000e+05,2.724333e+05,2.741667e+05,2.781667e+05,2.805000e+05,2.846000e+05,...,4.418000e+05,4.515000e+05,4.591667e+05,4.679333e+05,4.933667e+05,5.142667e+05,5.334667e+05,5.517333e+05,5.755333e+05,587200
MD,Baltimore,5.966667e+04,5.950000e+04,5.883333e+04,5.950000e+04,5.956667e+04,6.013333e+04,6.210000e+04,6.340000e+04,6.366667e+04,6.490000e+04,...,1.092333e+05,1.095333e+05,1.073667e+05,1.080667e+05,1.114333e+05,1.139667e+05,1.139000e+05,1.146667e+05,1.147333e+05,115100
CO,Denver,1.622333e+05,1.678333e+05,1.743333e+05,1.803333e+05,1.865000e+05,1.925333e+05,1.964000e+05,1.991000e+05,2.012333e+05,2.024333e+05,...,2.708667e+05,2.775000e+05,2.872333e+05,2.976333e+05,3.103667e+05,3.205000e+05,3.301000e+05,3.355667e+05,3.427667e+05,349800
DC,Washington,1.377667e+05,1.442000e+05,1.487000e+05,1.477000e+05,1.497667e+05,1.551333e+05,1.646333e+05,1.725333e+05,1.805000e+05,1.933000e+05,...,4.469333e+05,4.530000e+05,4.603000e+05,4.661667e+05,4.810667e+05,4.934000e+05,5.009000e+05,5.041000e+05,5.058000e+05,513900
TN,Nashville,1.138333e+05,1.152667e+05,1.158667e+05,1.169333e+05,1.180333e+05,1.191667e+05,1.201000e+05,1.208000e+05,1.215667e+05,1.226333e+05,...,1.607000e+05,1.623000e+05,1.669000e+05,1.714667e+05,1.762667e+05,1.818000e+05,1.892000e+05,1.950667e+05,2.003667e+05,205000
WI,Milwaukee,7.803333e+04,7.906667e+04,8.103333e+04,8.233333e+04,8.403333e+04,8.556667e+04,8.706667e+04,8.840000e+04,8.953333e+04,9.136667e+04,...,9.216667e+04,9.216667e+04,9.196667e+04,9.333333e+04,9.410000e+04,9.413333e+04,9.456667e+04,9.466667e+04,9.636667e+04,98200
AZ,Tucson,1.018333e+05,1.029667e+05,1.044667e+05,1.056667e+05,1.072000e+05,1.087667e+05,1.105667e+05,1.128000e+05,1.150000e+05,1.172000e+05,...,1.424667e+05,1.434333e+05,1.442333e+05,1.441667e+05,1.451333e+05,1.466000e+05,1.481667e+05,1.495333e+05,1.511667e+05,152400
OR,Portland,1.528000e+05,1.547667e+05,1.565667e+05,1.574667e+05,1.599000e+05,1.618000e+05,1.642667e+05,1.677667e+05,1.707667e+05,1.741333e+05,...,2.822333e+05,2.872667e+05,2.955333e+05,3.019333e+05,3.119000e+05,3.257333e+05,3.430667e+05,3.560000e+05,3.698000e+05,383600
OK,Oklahoma City,7.643333e+04,7.750000e+04,7.856667e+04,7.916667e+04,7.983333e+04,8.040000e+04,8.113333e+04,8.173333e+04,8.260000e+04,8.343333e+04,...,1.180333e+05,1.189667e+05,1.201000e+05,1.208000e+05,1.223667e+05,1.247000e+05,1.271000e+05,1.279000e+05,1.293000e+05,130100
NE,Omaha,1.128000e+05,1.141000e+05,1.167333e+05,1.189000e+05,1.208667e+05,1.197667e+05,1.178667e+05,1.174000e+05,1.180667e+05,1.176333e+05,...,1.301000e+05,1.303000e+05,1.325000e+05,1.330667e+05,1.344667e+05,1.367333e+05,1.400667e+05,1.416333e+05,1.426667e+05,143100
NM,Albuquerque,1.258667e+05,1.267000e+05,1.264333e+05,1.267333e+05,1.271000e+05,1.277333e+05,1.285667e+05,1.299000e+05,1.310667e+05,1.321000e+05,...,1.632667e+05,1.640000e+05,1.648000e+05,1.651667e+05,1.659000e+05,1.665333e+05,1.673333e+05,1.691000e+05,1.706333e+05,171800
CA,Fresno,9.410000e+04,9.526667e+04,9.646667e+04,9.823333e+04,1.005667e+05,1.035667e+05,1.072333e+05,1.103000e+05,1.140333e+05,1.185333e+05,...,1.696333e+05,1.736000e+05,1.781333e+05,1.804667e+05,1.820333e+05,1.857000e+05,1.874667e+05,1.890333e+05,1.927333e+05,195800
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
TX,Granite Shoals,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,1.169667e+05,1.175333e+05,1.175333e+05,1.171667e+05,1.191000e+05,1.216000e+05,1.280000e+05,1.337667e+05,1.400667e+05,145700
MD,Piney Point,1.556667e+05,1.551667e+05,1.584667e+05,1.637000e+05,1.634000e+05,1.648333e+05,1.647000e+05,1.679000e+05,1.782667e+05,1.812000e+05,...,2.964000e+05,3.090000e+05,3.092333e+05,3.095667e+05,3.017000e+05,3.052333e+05,3.099667e+05,3.195000e+05,3.241667e+05,324500
WI,Maribel,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,1.306000e+05,1.289667e+05,1.296333e+05,1.312667e+05,1.301333e+05,1.297333e+05,1.293000e+05,1.278333e+05,1.292667e+05,132900
ID,Middleton,1.060667e+05,1.043333e+05,1.019000e+05,1.041667e+05,1.061667e+05,1.083667e+05,1.110333e+05,1.112333e+05,1.141000e+05,1.141667e+05,...,1.443667e+05,1.457000e+05,1.462333e+05,1.461667e+05,1.477333e+05,1.482000e+05,1.511333e+05,1.539000e+05,1.571667e+05,160100
CO,Bennett,1.329000e+05,1.358333e+05,1.398000e+05,1.446667e+05,1.483000e+05,1.521000e+05,1.542333e+05,1.562000e+05,1.587333e+05,1.606333e+05,...,1.514667e+05,1.620667e+05,1.714000e+05,1.780333e+05,1.844333e+05,1.916667e+05,1.958000e+05,1.997667e+05,2.074667e+05,211900
NH,East Hampstead,1.618333e+05,1.691000e+05,1.739667e+05,1.805000e+05,1.909000e+05,1.950667e+05,1.992667e+05,2.074000e+05,2.123000e+05,2.122333e+05,...,2.495000e+05,2.521000e+05,2.557333e+05,2.587333e+05,2.613667e+05,2.616000e+05,2.688000e+05,2.725333e+05,2.778000e+05,281700
MO,Garden City,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,1.055000e+05,1.043000e+05,1.047667e+05,1.060333e+05,9.606667e+04,9.930000e+04,1.034333e+05,1.062667e+05,1.116667e+05,113500
AR,Mountainburg,5.716667e+04,6.433333e+04,6.783333e+04,6.900000e+04,6.866667e+04,6.386667e+04,6.376667e+04,6.546667e+04,6.533333e+04,6.600000e+04,...,8.160000e+04,8.506667e+04,8.846667e+04,8.903333e+04,8.556667e+04,8.370000e+04,9.043333e+04,9.833333e+04,1.019000e+05,103300
WI,Oostburg,1.072667e+05,1.081000e+05,1.124333e+05,1.155000e+05,1.191000e+05,1.204333e+05,1.203667e+05,1.196333e+05,1.198667e+05,1.185667e+05,...,1.295667e+05,1.279333e+05,1.274333e+05,1.270667e+05,1.274000e+05,1.303333e+05,1.320333e+05,1.327667e+05,1.341000e+05,135700
CA,Twin Peaks,9.736667e+04,1.001667e+05,1.013333e+05,1.017000e+05,1.040000e+05,1.076667e+05,1.098333e+05,1.111333e+05,1.132000e+05,1.166000e+05,...,1.501000e+05,1.475333e+05,1.460667e+05,1.435000e+05,1.523000e+05,1.552667e+05,1.591667e+05,1.641667e+05,1.679667e+05,172500
NY,Upper Brookville,1.230967e+06,1.230967e+06,1.237700e+06,1.261567e+06,1.295167e+06,1.340033e+06,1.403667e+06,1.481933e+06,1.536167e+06,1.562033e+06,...,1.780633e+06,1.749233e+06,1.729467e+06,1.749867e+06,1.789600e+06,1.777267e+06,1.834367e+06,1.904500e+06,1.944067e+06,1962600
HI,Volcano,9.870000e+04,1.053667e+05,1.146667e+05,1.247667e+05,1.181333e+05,1.194000e+05,1.232667e+05,1.211667e+05,1.233000e+05,1.169000e+05,...,2.064667e+05,2.276333e+05,2.332000e+05,2.346333e+05,2.323667e+05,2.249667e+05,2.324333e+05,2.420667e+05,2.489667e+05,248500
SC,Wedgefield,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,7.436667e+04,7.026667e+04,7.206667e+04,7.570000e+04,7.206667e+04,7.033333e+04,6.903333e+04,6.886667e+04,7.426667e+04,79600
MI,Williamston,1.591667e+05,1.613000e+05,1.643000e+05,1.662000e+05,1.664333e+05,1.686333e+05,1.716667e+05,1.750333e+05,1.786667e+05,1.793333e+05,...,1.657000e+05,1.689333e+05,1.708667e+05,1.744333e+05,1.758667e+05,1.794667e+05,1.823000e+05,1.814667e+05,1.824000e+05,182800
AR,Decatur,6.360000e+04,6.440000e+04,6.566667e+04,6.673333e+04,6.720000e+04,6.770000e+04,6.650000e+04,6.540000e+04,6.460000e+04,6.490000e+04,...,8.966667e+04,9.256667e+04,9.470000e+04,9.350000e+04,9.490000e+04,9.543333e+04,9.700000e+04,9.650000e+04,9.663333e+04,96900
TN,Briceville,4.000000e+04,4.173333e+04,4.366667e+04,4.490000e+04,4.480000e+04,4.530000e+04,4.463333e+04,4.370000e+04,4.446667e+04,4.340000e+04,...,5.623333e+04,5.423333e+04,5.260000e+04,4.963333e+04,4.590000e+04,4.793333e+04,4.360000e+04,4.080000e+04,4.180000e+04,41100
IN,Edgewood,9.170000e+04,9.186667e+04,9.293333e+04,9.490000e+04,9.893333e+04,1.000667e+05,1.008333e+05,1.010000e+05,1.021667e+05,1.017667e+05,...,9.213333e+04,9.406667e+04,9.466667e+04,9.586667e+04,9.433333e+04,9.663333e+04,9.996667e+04,9.943333e+04,9.996667e+04,101000
TN,Palmyra,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,1.227667e+05,1.269333e+05,1.262333e+05,1.223000e+05,1.204667e+05,1.198000e+05,1.258000e+05,1.276667e+05,1.328667e+05,137000
MD,Saint Inigoes,1.480667e+05,1.476000e+05,1.572333e+05,1.633667e+05,1.642333e+05,1.682000e+05,1.665000e+05,1.653333e+05,1.673000e+05,1.688000e+05,...,2.822333e+05,2.884333e+05,2.869667e+05,2.847000e+05,2.807667e+05,2.778333e+05,2.768333e+05,2.793333e+05,2.826333e+05,281400
IN,Marysville,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,1.166000e+05,1.151000e+05,1.165000e+05,1.118667e+05,1.118000e+05,1.156667e+05,1.201667e+05,1.282333e+05,1.232333e+05,123100
CA,Forest Falls,1.135333e+05,1.144000e+05,1.141667e+05,1.111333e+05,1.134333e+05,1.130000e+05,1.130333e+05,1.151667e+05,1.187000e+05,1.250667e+05,...,1.653667e+05,1.675000e+05,1.771000e+05,1.765333e+05,1.818000e+05,1.911667e+05,1.987333e+05,1.886333e+05,1.898667e+05,187100
MO,Bois D Arc,1.078000e+05,1.069667e+05,1.071000e+05,1.081000e+05,1.107000e+05,1.136667e+05,1.126333e+05,1.127333e+05,1.130667e+05,1.154000e+05,...,1.375667e+05,1.375667e+05,1.404000e+05,1.450333e+05,1.475667e+05,1.463000e+05,1.494333e+05,1.468667e+05,1.437667e+05,143200
VA,Henrico,1.285667e+05,1.307667e+05,1.322667e+05,1.332667e+05,1.352333e+05,1.367333e+05,1.386000e+05,1.413333e+05,1.435333e+05,1.461333e+05,...,2.016333e+05,2.040000e+05,2.059000e+05,2.065667e+05,2.104333e+05,2.121000e+05,2.139667e+05,2.160333e+05,2.162000e+05,219000
NJ,Diamond Beach,1.739667e+05,1.831000e+05,1.889667e+05,1.931333e+05,1.944000e+05,2.102667e+05,2.302667e+05,2.486667e+05,2.599333e+05,2.656333e+05,...,3.818000e+05,3.878667e+05,3.876667e+05,3.931667e+05,3.980000e+05,3.992333e+05,4.004333e+05,4.045333e+05,4.039000e+05,400700
TN,Gruetli Laager,3.540000e+04,3.546667e+04,3.666667e+04,3.730000e+04,3.773333e+04,3.790000e+04,3.936667e+04,4.040000e+04,4.156667e+04,4.163333e+04,...,5.556667e+04,5.636667e+04,5.713333e+04,5.890000e+04,6.536667e+04,6.950000e+04,7.170000e+04,7.533333e+04,7.646667e+04,77200
WI,Town of Wrightstown,1.017667e+05,1.054000e+05,1.113667e+05,1.148667e+05,1.259667e+05,1.299000e+05,1.299000e+05,1.294333e+05,1.319000e+05,1.342000e+05,...,1.448667e+05,1.468667e+05,1.492333e+05,1.486667e+05,1.493333e+05,1.498667e+05,1.499333e+05,1.498333e+05,1.512667e+05,154100
NY,Urbana,7.920000e+04,8.166667e+04,9.170000e+04,9.836667e+04,9.486667e+04,9.853333e+04,1.029667e+05,9.803333e+04,9.396667e+04,9.460000e+04,...,1.321333e+05,1.370333e+05,1.400667e+05,1.417000e+05,1.378667e+05,1.364667e+05,1.361667e+05,1.389667e+05,1.442000e+05,143000
WI,New Denmark,1.145667e+05,1.192667e+05,1.260667e+05,1.319667e+05,1.438000e+05,1.469667e+05,1.483667e+05,1.491667e+05,1.531333e+05,1.567333e+05,...,1.745667e+05,1.811667e+05,1.861667e+05,1.876000e+05,1.886667e+05,1.884333e+05,1.889333e+05,1.910667e+05,1.928333e+05,196300
CA,Angels,1.510000e+05,1.559000e+05,1.581000e+05,1.674667e+05,1.768333e+05,1.837667e+05,1.902333e+05,1.845667e+05,1.840333e+05,1.861333e+05,...,2.444667e+05,2.540667e+05,2.599333e+05,2.601000e+05,2.506333e+05,2.635000e+05,2.795000e+05,2.765333e+05,2.716000e+05,269000
WI,Holland,1.510333e+05,1.505000e+05,1.532333e+05,1.558333e+05,1.618667e+05,1.657333e+05,1.680333e+05,1.674000e+05,1.657667e+05,1.619667e+05,...,2.012667e+05,2.015667e+05,2.012667e+05,2.060000e+05,2.076000e+05,2.128667e+05,2.178333e+05,2.219667e+05,2.280333e+05,233900

In [234]:
def convert_housing_data_to_quarters():
    homes = pd.read_csv('City_Zhvi_AllHomes.csv')
    homes.set_index(['State','RegionName'], inplace = True)
    homes = homes.loc[:,"2000-01":]
    c1 = homes.columns.values.tolist()
    Quarter = []
    for i in c1:
        if i[-2:] in ["01","02","03"]:
            Quarter.append(i[:4]+'q1')
        elif i[-2:] in ["04","05","06"]:
            Quarter.append(i[:4]+'q2')
        elif i[-2:] in ["07","08","09"]:
            Quarter.append(i[:4]+'q3')
        elif i[-2:] in ["10","11","12"]:
            Quarter.append(i[:4]+'q4')
    homes.columns = Quarter
    for x in range(0,len(Quarter)):
        if (Quarter[x] == Quarter[x-1]) and (Quarter[x] == Quarter[x-2]):
            homes[Quarter[x]] = homes[Quarter[x]].mean(axis = 1)
    home = homes.loc[:, ~homes.columns.duplicated()]
    return home

In [235]:
convert_housing_data_to_quarters()

,,2000q1,2000q2,2000q3,2000q4,2001q1,2001q2,2001q3,2001q4,2002q1,2002q2,...,2014q2,2014q3,2014q4,2015q1,2015q2,2015q3,2015q4,2016q1,2016q2,2016q3
State,RegionName,,,,,,,,,,,,,,,,,,,,,
NY,New York,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,5.154667e+05,5.228000e+05,5.280667e+05,5.322667e+05,5.408000e+05,5.572000e+05,5.728333e+05,5.828667e+05,5.916333e+05,588000
CA,Los Angeles,2.070667e+05,2.144667e+05,2.209667e+05,2.261667e+05,2.330000e+05,2.391000e+05,2.450667e+05,2.530333e+05,2.619667e+05,2.727000e+05,...,4.980333e+05,5.090667e+05,5.188667e+05,5.288000e+05,5.381667e+05,5.472667e+05,5.577333e+05,5.660333e+05,5.774667e+05,583000
IL,Chicago,1.384000e+05,1.436333e+05,1.478667e+05,1.521333e+05,1.569333e+05,1.618000e+05,1.664000e+05,1.704333e+05,1.755000e+05,1.775667e+05,...,1.926333e+05,1.957667e+05,2.012667e+05,2.010667e+05,2.060333e+05,2.083000e+05,2.079000e+05,2.060667e+05,2.082000e+05,211000
PA,Philadelphia,5.300000e+04,5.363333e+04,5.413333e+04,5.470000e+04,5.533333e+04,5.553333e+04,5.626667e+04,5.753333e+04,5.913333e+04,6.073333e+04,...,1.137333e+05,1.153000e+05,1.156667e+05,1.162000e+05,1.179667e+05,1.212333e+05,1.222000e+05,1.234333e+05,1.269333e+05,128300
AZ,Phoenix,1.118333e+05,1.143667e+05,1.160000e+05,1.174000e+05,1.196000e+05,1.215667e+05,1.227000e+05,1.243000e+05,1.265333e+05,1.283667e+05,...,1.642667e+05,1.653667e+05,1.685000e+05,1.715333e+05,1.741667e+05,1.790667e+05,1.838333e+05,1.879000e+05,1.914333e+05,194500
NV,Las Vegas,1.326000e+05,1.343667e+05,1.354000e+05,1.370000e+05,1.395333e+05,1.417333e+05,1.433667e+05,1.461333e+05,1.493333e+05,1.509333e+05,...,1.700667e+05,1.734000e+05,1.754667e+05,1.775000e+05,1.816000e+05,1.867667e+05,1.906333e+05,1.946000e+05,1.972000e+05,199300
CA,San Diego,2.229000e+05,2.343667e+05,2.454333e+05,2.560333e+05,2.672000e+05,2.762667e+05,2.845000e+05,2.919333e+05,3.012333e+05,3.128667e+05,...,4.802000e+05,4.890333e+05,4.964333e+05,5.033667e+05,5.120667e+05,5.197667e+05,5.254667e+05,5.293333e+05,5.362333e+05,539000
TX,Dallas,8.446667e+04,8.386667e+04,8.486667e+04,8.783333e+04,8.973333e+04,8.930000e+04,8.906667e+04,9.090000e+04,9.256667e+04,9.380000e+04,...,1.066333e+05,1.089000e+05,1.115333e+05,1.137000e+05,1.211333e+05,1.285667e+05,1.346000e+05,1.405000e+05,1.446000e+05,148200
CA,San Jose,3.742667e+05,4.065667e+05,4.318667e+05,4.555000e+05,4.706667e+05,4.702000e+05,4.568000e+05,4.455667e+05,4.414333e+05,4.577667e+05,...,6.794000e+05,6.970333e+05,7.149333e+05,7.314333e+05,7.567333e+05,7.764000e+05,7.891333e+05,8.036000e+05,8.189333e+05,821700
FL,Jacksonville,8.860000e+04,8.970000e+04,9.170000e+04,9.310000e+04,9.440000e+04,9.560000e+04,9.706667e+04,9.906667e+04,1.012333e+05,1.034333e+05,...,1.207667e+05,1.217333e+05,1.231667e+05,1.241667e+05,1.269000e+05,1.301333e+05,1.320000e+05,1.339667e+05,1.372000e+05,139500
CA,San Francisco,4.305000e+05,4.644667e+05,4.835333e+05,4.930000e+05,4.940667e+05,4.961333e+05,5.041000e+05,5.134000e+05,5.204333e+05,5.381667e+05,...,9.269333e+05,9.545333e+05,9.687667e+05,1.000733e+06,1.060800e+06,1.095100e+06,1.105467e+06,1.121767e+06,1.119267e+06,1108800
TX,Austin,1.429667e+05,1.452667e+05,1.494667e+05,1.557333e+05,1.612333e+05,1.607333e+05,1.595333e+05,1.600333e+05,1.589667e+05,1.575000e+05,...,2.488667e+05,2.528000e+05,2.581333e+05,2.665000e+05,2.750333e+05,2.816333e+05,2.872333e+05,2.935000e+05,3.014333e+05,304100
MI,Detroit,6.616667e+04,6.830000e+04,6.676667e+04,6.703333e+04,6.750000e+04,6.836667e+04,6.926667e+04,6.996667e+04,7.100000e+04,7.233333e+04,...,3.730000e+04,3.710000e+04,3.713333e+04,3.620000e+04,3.583333e+04,3.706667e+04,3.836667e+04,3.796667e+04,3.746667e+04,37700
OH,Columbus,9.436667e+04,9.583333e+04,9.713333e+04,9.826667e+04,9.940000e+04,1.002667e+05,1.010667e+05,1.022000e+05,1.034000e+05,1.048000e+05,...,1.031333e+05,1.045000e+05,1.064333e+05,1.078667e+05,1.094333e+05,1.115667e+05,1.150000e+05,1.167000e+05,1.182000e+05,119700
TN,Memphis,7.250000e+04,7.320000e+04,7.386667e+04,7.400000e+04,7.416667e+04,7.493333e+04,7.550000e+04,7.606667e+04,7.633333e+04,7.676667e+04,...,6.810000e+04,6.910000e+04,7.116667e+04,7.053333e+04,6.870000e+04,6.866667e+04,6.953333e+04,7.090000e+04,7.416667e+04,75600
NC,Charlotte,1.269333e+05,1.283667e+05,1.302000e+05,1.315667e+05,1.329333e+05,1.332000e+05,1.328000e+05,1.331000e+05,1.343667e+05,1.353667e+05,...,1.494667e+05,1.506333e+05,1.527333e+05,1.551667e+05,1.579000e+05,1.601667e+05,1.628667e+05,1.664667e+05,1.694333e+05,171700
TX,El Paso,7.626667e+04,7.686667e+04,7.673333e+04,7.730000e+04,7.823333e+04,7.830000e+04,7.743333e+04,7.680000e+04,7.660000e+04,7.640000e+04,...,1.118000e+05,1.117333e+05,1.117667e+05,1.115000e+05,1.113000e+05,1.110667e+05,1.102667e+05,1.106667e+05,1.114667e+05,112100
MA,Boston,2.069333e+05,2.191667e+05,2.331000e+05,2.425000e+05,2.496000e+05,2.570667e+05,2.669333e+05,2.749667e+05,2.825000e+05,2.893000e+05,...,4.266667e+05,4.314333e+05,4.407333e+05,4.485000e+05,4.553667e+05,4.639667e+05,4.716333e+05,4.826000e+05,4.903667e+05,499200
WA,Seattle,2.486000e+05,2.556000e+05,2.625333e+05,2.674000e+05,2.710000e+05,2.724333e+05,2.741667e+05,2.781667e+05,2.805000e+05,2.846000e+05,...,4.418000e+05,4.515000e+05,4.591667e+05,4.679333e+05,4.933667e+05,5.142667e+05,5.334667e+05,5.517333e+05,5.755333e+05,587200
MD,Baltimore,5.966667e+04,5.950000e+04,5.883333e+04,5.950000e+04,5.956667e+04,6.013333e+04,6.210000e+04,6.340000e+04,6.366667e+04,6.490000e+04,...,1.092333e+05,1.095333e+05,1.073667e+05,1.080667e+05,1.114333e+05,1.139667e+05,1.139000e+05,1.146667e+05,1.147333e+05,115100
CO,Denver,1.622333e+05,1.678333e+05,1.743333e+05,1.803333e+05,1.865000e+05,1.925333e+05,1.964000e+05,1.991000e+05,2.012333e+05,2.024333e+05,...,2.708667e+05,2.775000e+05,2.872333e+05,2.976333e+05,3.103667e+05,3.205000e+05,3.301000e+05,3.355667e+05,3.427667e+05,349800
DC,Washington,1.377667e+05,1.442000e+05,1.487000e+05,1.477000e+05,1.497667e+05,1.551333e+05,1.646333e+05,1.725333e+05,1.805000e+05,1.933000e+05,...,4.469333e+05,4.530000e+05,4.603000e+05,4.661667e+05,4.810667e+05,4.934000e+05,5.009000e+05,5.041000e+05,5.058000e+05,513900
TN,Nashville,1.138333e+05,1.152667e+05,1.158667e+05,1.169333e+05,1.180333e+05,1.191667e+05,1.201000e+05,1.208000e+05,1.215667e+05,1.226333e+05,...,1.607000e+05,1.623000e+05,1.669000e+05,1.714667e+05,1.762667e+05,1.818000e+05,1.892000e+05,1.950667e+05,2.003667e+05,205000
WI,Milwaukee,7.803333e+04,7.906667e+04,8.103333e+04,8.233333e+04,8.403333e+04,8.556667e+04,8.706667e+04,8.840000e+04,8.953333e+04,9.136667e+04,...,9.216667e+04,9.216667e+04,9.196667e+04,9.333333e+04,9.410000e+04,9.413333e+04,9.456667e+04,9.466667e+04,9.636667e+04,98200
AZ,Tucson,1.018333e+05,1.029667e+05,1.044667e+05,1.056667e+05,1.072000e+05,1.087667e+05,1.105667e+05,1.128000e+05,1.150000e+05,1.172000e+05,...,1.424667e+05,1.434333e+05,1.442333e+05,1.441667e+05,1.451333e+05,1.466000e+05,1.481667e+05,1.495333e+05,1.511667e+05,152400
OR,Portland,1.528000e+05,1.547667e+05,1.565667e+05,1.574667e+05,1.599000e+05,1.618000e+05,1.642667e+05,1.677667e+05,1.707667e+05,1.741333e+05,...,2.822333e+05,2.872667e+05,2.955333e+05,3.019333e+05,3.119000e+05,3.257333e+05,3.430667e+05,3.560000e+05,3.698000e+05,383600
OK,Oklahoma City,7.643333e+04,7.750000e+04,7.856667e+04,7.916667e+04,7.983333e+04,8.040000e+04,8.113333e+04,8.173333e+04,8.260000e+04,8.343333e+04,...,1.180333e+05,1.189667e+05,1.201000e+05,1.208000e+05,1.223667e+05,1.247000e+05,1.271000e+05,1.279000e+05,1.293000e+05,130100
NE,Omaha,1.128000e+05,1.141000e+05,1.167333e+05,1.189000e+05,1.208667e+05,1.197667e+05,1.178667e+05,1.174000e+05,1.180667e+05,1.176333e+05,...,1.301000e+05,1.303000e+05,1.325000e+05,1.330667e+05,1.344667e+05,1.367333e+05,1.400667e+05,1.416333e+05,1.426667e+05,143100
NM,Albuquerque,1.258667e+05,1.267000e+05,1.264333e+05,1.267333e+05,1.271000e+05,1.277333e+05,1.285667e+05,1.299000e+05,1.310667e+05,1.321000e+05,...,1.632667e+05,1.640000e+05,1.648000e+05,1.651667e+05,1.659000e+05,1.665333e+05,1.673333e+05,1.691000e+05,1.706333e+05,171800
CA,Fresno,9.410000e+04,9.526667e+04,9.646667e+04,9.823333e+04,1.005667e+05,1.035667e+05,1.072333e+05,1.103000e+05,1.140333e+05,1.185333e+05,...,1.696333e+05,1.736000e+05,1.781333e+05,1.804667e+05,1.820333e+05,1.857000e+05,1.874667e+05,1.890333e+05,1.927333e+05,195800
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
TX,Granite Shoals,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,1.169667e+05,1.175333e+05,1.175333e+05,1.171667e+05,1.191000e+05,1.216000e+05,1.280000e+05,1.337667e+05,1.400667e+05,145700
MD,Piney Point,1.556667e+05,1.551667e+05,1.584667e+05,1.637000e+05,1.634000e+05,1.648333e+05,1.647000e+05,1.679000e+05,1.782667e+05,1.812000e+05,...,2.964000e+05,3.090000e+05,3.092333e+05,3.095667e+05,3.017000e+05,3.052333e+05,3.099667e+05,3.195000e+05,3.241667e+05,324500
WI,Maribel,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,1.306000e+05,1.289667e+05,1.296333e+05,1.312667e+05,1.301333e+05,1.297333e+05,1.293000e+05,1.278333e+05,1.292667e+05,132900
ID,Middleton,1.060667e+05,1.043333e+05,1.019000e+05,1.041667e+05,1.061667e+05,1.083667e+05,1.110333e+05,1.112333e+05,1.141000e+05,1.141667e+05,...,1.443667e+05,1.457000e+05,1.462333e+05,1.461667e+05,1.477333e+05,1.482000e+05,1.511333e+05,1.539000e+05,1.571667e+05,160100
CO,Bennett,1.329000e+05,1.358333e+05,1.398000e+05,1.446667e+05,1.483000e+05,1.521000e+05,1.542333e+05,1.562000e+05,1.587333e+05,1.606333e+05,...,1.514667e+05,1.620667e+05,1.714000e+05,1.780333e+05,1.844333e+05,1.916667e+05,1.958000e+05,1.997667e+05,2.074667e+05,211900
NH,East Hampstead,1.618333e+05,1.691000e+05,1.739667e+05,1.805000e+05,1.909000e+05,1.950667e+05,1.992667e+05,2.074000e+05,2.123000e+05,2.122333e+05,...,2.495000e+05,2.521000e+05,2.557333e+05,2.587333e+05,2.613667e+05,2.616000e+05,2.688000e+05,2.725333e+05,2.778000e+05,281700
MO,Garden City,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,1.055000e+05,1.043000e+05,1.047667e+05,1.060333e+05,9.606667e+04,9.930000e+04,1.034333e+05,1.062667e+05,1.116667e+05,113500
AR,Mountainburg,5.716667e+04,6.433333e+04,6.783333e+04,6.900000e+04,6.866667e+04,6.386667e+04,6.376667e+04,6.546667e+04,6.533333e+04,6.600000e+04,...,8.160000e+04,8.506667e+04,8.846667e+04,8.903333e+04,8.556667e+04,8.370000e+04,9.043333e+04,9.833333e+04,1.019000e+05,103300
WI,Oostburg,1.072667e+05,1.081000e+05,1.124333e+05,1.155000e+05,1.191000e+05,1.204333e+05,1.203667e+05,1.196333e+05,1.198667e+05,1.185667e+05,...,1.295667e+05,1.279333e+05,1.274333e+05,1.270667e+05,1.274000e+05,1.303333e+05,1.320333e+05,1.327667e+05,1.341000e+05,135700
CA,Twin Peaks,9.736667e+04,1.001667e+05,1.013333e+05,1.017000e+05,1.040000e+05,1.076667e+05,1.098333e+05,1.111333e+05,1.132000e+05,1.166000e+05,...,1.501000e+05,1.475333e+05,1.460667e+05,1.435000e+05,1.523000e+05,1.552667e+05,1.591667e+05,1.641667e+05,1.679667e+05,172500
NY,Upper Brookville,1.230967e+06,1.230967e+06,1.237700e+06,1.261567e+06,1.295167e+06,1.340033e+06,1.403667e+06,1.481933e+06,1.536167e+06,1.562033e+06,...,1.780633e+06,1.749233e+06,1.729467e+06,1.749867e+06,1.789600e+06,1.777267e+06,1.834367e+06,1.904500e+06,1.944067e+06,1962600
HI,Volcano,9.870000e+04,1.053667e+05,1.146667e+05,1.247667e+05,1.181333e+05,1.194000e+05,1.232667e+05,1.211667e+05,1.233000e+05,1.169000e+05,...,2.064667e+05,2.276333e+05,2.332000e+05,2.346333e+05,2.323667e+05,2.249667e+05,2.324333e+05,2.420667e+05,2.489667e+05,248500
SC,Wedgefield,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,7.436667e+04,7.026667e+04,7.206667e+04,7.570000e+04,7.206667e+04,7.033333e+04,6.903333e+04,6.886667e+04,7.426667e+04,79600
MI,Williamston,1.591667e+05,1.613000e+05,1.643000e+05,1.662000e+05,1.664333e+05,1.686333e+05,1.716667e+05,1.750333e+05,1.786667e+05,1.793333e+05,...,1.657000e+05,1.689333e+05,1.708667e+05,1.744333e+05,1.758667e+05,1.794667e+05,1.823000e+05,1.814667e+05,1.824000e+05,182800
AR,Decatur,6.360000e+04,6.440000e+04,6.566667e+04,6.673333e+04,6.720000e+04,6.770000e+04,6.650000e+04,6.540000e+04,6.460000e+04,6.490000e+04,...,8.966667e+04,9.256667e+04,9.470000e+04,9.350000e+04,9.490000e+04,9.543333e+04,9.700000e+04,9.650000e+04,9.663333e+04,96900
TN,Briceville,4.000000e+04,4.173333e+04,4.366667e+04,4.490000e+04,4.480000e+04,4.530000e+04,4.463333e+04,4.370000e+04,4.446667e+04,4.340000e+04,...,5.623333e+04,5.423333e+04,5.260000e+04,4.963333e+04,4.590000e+04,4.793333e+04,4.360000e+04,4.080000e+04,4.180000e+04,41100
IN,Edgewood,9.170000e+04,9.186667e+04,9.293333e+04,9.490000e+04,9.893333e+04,1.000667e+05,1.008333e+05,1.010000e+05,1.021667e+05,1.017667e+05,...,9.213333e+04,9.406667e+04,9.466667e+04,9.586667e+04,9.433333e+04,9.663333e+04,9.996667e+04,9.943333e+04,9.996667e+04,101000
TN,Palmyra,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,1.227667e+05,1.269333e+05,1.262333e+05,1.223000e+05,1.204667e+05,1.198000e+05,1.258000e+05,1.276667e+05,1.328667e+05,137000
MD,Saint Inigoes,1.480667e+05,1.476000e+05,1.572333e+05,1.633667e+05,1.642333e+05,1.682000e+05,1.665000e+05,1.653333e+05,1.673000e+05,1.688000e+05,...,2.822333e+05,2.884333e+05,2.869667e+05,2.847000e+05,2.807667e+05,2.778333e+05,2.768333e+05,2.793333e+05,2.826333e+05,281400
IN,Marysville,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,1.166000e+05,1.151000e+05,1.165000e+05,1.118667e+05,1.118000e+05,1.156667e+05,1.201667e+05,1.282333e+05,1.232333e+05,123100
CA,Forest Falls,1.135333e+05,1.144000e+05,1.141667e+05,1.111333e+05,1.134333e+05,1.130000e+05,1.130333e+05,1.151667e+05,1.187000e+05,1.250667e+05,...,1.653667e+05,1.675000e+05,1.771000e+05,1.765333e+05,1.818000e+05,1.911667e+05,1.987333e+05,1.886333e+05,1.898667e+05,187100
MO,Bois D Arc,1.078000e+05,1.069667e+05,1.071000e+05,1.081000e+05,1.107000e+05,1.136667e+05,1.126333e+05,1.127333e+05,1.130667e+05,1.154000e+05,...,1.375667e+05,1.375667e+05,1.404000e+05,1.450333e+05,1.475667e+05,1.463000e+05,1.494333e+05,1.468667e+05,1.437667e+05,143200
VA,Henrico,1.285667e+05,1.307667e+05,1.322667e+05,1.332667e+05,1.352333e+05,1.367333e+05,1.386000e+05,1.413333e+05,1.435333e+05,1.461333e+05,...,2.016333e+05,2.040000e+05,2.059000e+05,2.065667e+05,2.104333e+05,2.121000e+05,2.139667e+05,2.160333e+05,2.162000e+05,219000
NJ,Diamond Beach,1.739667e+05,1.831000e+05,1.889667e+05,1.931333e+05,1.944000e+05,2.102667e+05,2.302667e+05,2.486667e+05,2.599333e+05,2.656333e+05,...,3.818000e+05,3.878667e+05,3.876667e+05,3.931667e+05,3.980000e+05,3.992333e+05,4.004333e+05,4.045333e+05,4.039000e+05,400700
TN,Gruetli Laager,3.540000e+04,3.546667e+04,3.666667e+04,3.730000e+04,3.773333e+04,3.790000e+04,3.936667e+04,4.040000e+04,4.156667e+04,4.163333e+04,...,5.556667e+04,5.636667e+04,5.713333e+04,5.890000e+04,6.536667e+04,6.950000e+04,7.170000e+04,7.533333e+04,7.646667e+04,77200
WI,Town of Wrightstown,1.017667e+05,1.054000e+05,1.113667e+05,1.148667e+05,1.259667e+05,1.299000e+05,1.299000e+05,1.294333e+05,1.319000e+05,1.342000e+05,...,1.448667e+05,1.468667e+05,1.492333e+05,1.486667e+05,1.493333e+05,1.498667e+05,1.499333e+05,1.498333e+05,1.512667e+05,154100
NY,Urbana,7.920000e+04,8.166667e+04,9.170000e+04,9.836667e+04,9.486667e+04,9.853333e+04,1.029667e+05,9.803333e+04,9.396667e+04,9.460000e+04,...,1.321333e+05,1.370333e+05,1.400667e+05,1.417000e+05,1.378667e+05,1.364667e+05,1.361667e+05,1.389667e+05,1.442000e+05,143000
WI,New Denmark,1.145667e+05,1.192667e+05,1.260667e+05,1.319667e+05,1.438000e+05,1.469667e+05,1.483667e+05,1.491667e+05,1.531333e+05,1.567333e+05,...,1.745667e+05,1.811667e+05,1.861667e+05,1.876000e+05,1.886667e+05,1.884333e+05,1.889333e+05,1.910667e+05,1.928333e+05,196300
CA,Angels,1.510000e+05,1.559000e+05,1.581000e+05,1.674667e+05,1.768333e+05,1.837667e+05,1.902333e+05,1.845667e+05,1.840333e+05,1.861333e+05,...,2.444667e+05,2.540667e+05,2.599333e+05,2.601000e+05,2.506333e+05,2.635000e+05,2.795000e+05,2.765333e+05,2.716000e+05,269000
WI,Holland,1.510333e+05,1.505000e+05,1.532333e+05,1.558333e+05,1.618667e+05,1.657333e+05,1.680333e+05,1.674000e+05,1.657667e+05,1.619667e+05,...,2.012667e+05,2.015667e+05,2.012667e+05,2.060000e+05,2.076000e+05,2.128667e+05,2.178333e+05,2.219667e+05,2.280333e+05,233900

In [ ]:
def run_ttest():
    '''First creates new data showing the decline or growth of housing prices
    between the recession start and the recession bottom. Then runs a ttest
    comparing the university town values to the non-university towns values, 
    return whether the alternative hypothesis (that the two groups are the same)
    is true or not as well as the p-value of the confidence. 
    
    Return the tuple (different, p, better) where different=True if the t-test is
    True at a p<0.01 (we reject the null hypothesis), or different=False if 
    otherwise (we cannot reject the null hypothesis). The variable p should
    be equal to the exact p value returned from scipy.stats.ttest_ind(). The
    value for better should be either "university town" or "non-university town"
    depending on which has a lower mean price ratio (which is equivilent to a
    reduced market loss).'''
    
    return "ANSWER"